[2018-06-04 15:34] xing-yang opened #7 "Ansible deployment should fail with a clear error when "GOPAH" is """
Ansible deployment should fail with a clear error when "GOPAH" is "".  Right now it continues and then fails at a much later point.

roles/common/scenarios/repository.yml
- set_fact:
    go_path: "{{ lookup('env', 'GOPATH') }}"
  when: not result is failed

[2018-06-04 16:22] xing-yang opened #8 "Permission problem when installing dashboard"
Installation failed until I added "sudo" in front of "npm install" and "ng build --prod", but "sudo" is not the recommended way.  Somehow "become: yes" didn't take effect.

- name: build opensds dashboard
  shell: "{{ item }}"
  with_items:
      - npm install
      - ng build --prod
  args:
    chdir: "{{ go_path }}/src/github.com/opensds/opensds/dashboard"
  become: yes
  when: dashboardexisted

[2018-06-04 16:34] xing-yang opened #9 "Should add a check for minimum ansible version"
The minimum ansible version is 2.4.2 now.  "include_tasks" is supported in 2.4 and above.  Ceph requires 2.4.2.  We should add that check and give a clear msg if the version is lower, especially because it needs to be installed by using ppa: "sudo add-apt-repository ppa:ansible/ansible"

[2018-06-04 17:58] xing-yang opened #10 "opensds_install_dir should not be hard-coded to be under root"
There should not be an assumption that opensds_install_dir is installed under root.

opensds-installer/ansible/group_vars/common.yml

opensds_installer_dir: /root/opensds-installer

[2018-06-06 14:05] leonwanghui commented on #10
Closed

[2018-06-06 14:05] #10 closed

[2018-06-06 14:05] leonwanghui commented on #9
Closed

[2018-06-06 14:05] #9 closed

[2018-06-06 14:06] leonwanghui commented on #7
Closed

[2018-06-06 14:06] #7 closed

[2018-06-09 00:17] xing-yang opened #18 "golang path not found even though it exists"
The following checked failed on my setup even though golang source code was installed at /usr/local/go location.

- name: check for golang
  stat:
    path: /usr/local/go
  register: result
  changed_when: no

[2018-06-09 00:18] xing-yang opened #19 "lookup(’env’, ‘GOPATH) command didn’t detect existing ‘GOPAH’"
The lookup(’env’, ‘GOPATH) command didn’t detect ‘GOPAH’ although I have ‘GOPATH’.

xyang@ubuntu:~$ env | grep GOPATH
GOPATH=/home/xyang/go

- set_fact:
    go_path: "{{ lookup('env', 'GOPATH') }}"
  when: not result is failed

[2018-06-09 01:09] xing-yang opened #20 "Problems with Profile creation"
Storage and AZ fields in the UI are empty after fresh installation.  I can't create a profile.  This is standalone install, not CSI.  I wonder if the new code to automatically create VG has some issues.

[2018-06-09 01:21] xing-yang opened #21 "Rename "standalone" to "hotpot" to avoid confusion"
I suggest renaming "standalone" to "hotpot".  Otherwise it can be confused with "cinder standalone".

[2018-06-09 01:39] wisererik commented on #20
@xing-yang  VG creation doesn't impact profile, I think there are other reasons

[2018-06-09 01:52] xing-yang opened #22 "osdslet daemon failed to start"
The etcd for the K8S local cluster is using port 2379.  As a result, osdslet daemon failed to start but there was no clear indication what was the problem.  If the port is in-use, we should print out a clear error message.  Also since K8S is using 2379, we should change our default value to avoid collisions.

etcd_release: v3.2.0
etcd_host: 127.0.0.1
etcd_port: 2379
etcd_peer_port: 2380

[2018-06-09 02:39] BaiHuoYu commented on #19
Run the opensds-ansible script to start the deployment, execute the command ansible-playbook site.yml -i local.hosts, do not try sudo at the beginning of the command.

[2018-06-09 02:41] leonwanghui commented on #22
Currently we would detect if etcd daemon is runninig using `ps` check rather port check before etcd installation, so it would fail when changing the etcd port from 2379

[2018-06-09 02:41] leonwanghui commented on #21
@BaiHuoYu Please take a look

[2018-06-09 02:46] leonwanghui commented on #18
I think this command is to check if `go` folder exists, because according to what golang official suggestion, the `go` source code should be installed under `/usr/local/` folder.

[2018-06-10 00:22] xing-yang opened #23 "opensdsendpoint should be automatically changed to the real one."
When deploying OpenSDS in csi mode, opensdsendpoint should be changed to the real IP automatically.  If not, documentation should specify it.

kind: ConfigMap
apiVersion: v1
metadata:
  name: csi-configmap-opensdsplugin
data:
  opensdsendpoint: http://127.0.0.1:50040

[2018-06-10 00:28] xing-yang commented on #19
I re-tested this on a completely new environment, a fresh VM.  Same thing happened.  I did not add "sudo" in the beginning of the command.

   44  ansible-playbook site.yml -i local.hosts
   45  echo $GOPATH

# echo $GOPATH
/root/gopath

TASK [dashboard-installer : check go_path] *******************************************************
skipping: [localhost] => (item=echo "The environment variable G

[2018-06-10 00:32] xing-yang commented on #19
My ansible version:  ansible 2.5.4.  What is your version?

[2018-06-10 00:37] xing-yang opened #24 "Always install Ceph libs in csi install mode"
Since Ceph libs are required for CS plugin to work, they should be installed automatically if user selects csi mode when deploying using the ansible tool.  If not, there should be clear instructions on what libs to install in the doc.

[2018-06-10 01:35] xing-yang commented on #19
Take a look of this : https://stackoverflow.com/questions/24135722/command-not-found-while-trying-to-build-package-with-ansible

[2018-06-10 01:44] xing-yang commented on #8
I still encountered this problem on a freshly built VM.  After adding "sudo", it worked again.  Please note that I didn't add "sudo" when running the ansible playbook, but I'm running as a root user.

TASK [dashboard-installer : build opensds dashboard] ******************************************************
failed: [localhost] (item=npm install) => {"changed": true, "cmd": "npm install", "delta":

[2018-06-10 07:28] leonwanghui commented on #23
In `ansible/group_vars/common.yml`, if user changes the `opensds_endpoint`, the script would update `opensdsendpoint` field you mentioned automatically.

[2018-06-10 08:52] leonwanghui commented on #19
I don't know if this tutorial would help: [http://blog.xiao5tech.com/2016/10/17/083-ansible_get_java_path/](http://blog.xiao5tech.com/2016/10/17/083-ansible_get_java_path/)

[2018-06-10 13:09] xing-yang commented on #18
Actually golang source code was installed at /usr/local/go on my setup, "usr/local/bin/go" is just a result of "which go" which refers to the go binary.  So this check command failed even though golang was installed on the expected location.

[2018-06-10 13:13] xing-yang commented on #18
It seems that Ansible can't detect env variables on my setup.  This is probably similar to the issue mentioned in the following:
    https://stackoverflow.com/questions/24135722/command-not-found-while-trying-to-build-package-with-ansible

[2018-06-10 13:33] xing-yang commented on #20
@wisererik I re-tested with the latest code.  The Storage and AZ issue was resolved.  I still have problem with profiles.  Can't create a profile.

[2018-06-10 13:35] leonwanghui commented on #20
Can you paste some logs here? Thanks!

[2018-06-10 13:41] xing-yang commented on #20
This is probably a dashboard issue.  Where are the dashboard logs?

[2018-06-10 14:03] xing-yang commented on #20
I only created "test" and "test2".  I don't know where the other profiles came from.

$ osdsctl profile list
+--------------------------------------+--------------+-------------+
| Id                                   | Name         | Description |
+--------------------------------------+--------------+-------------+
| ed2088cc-7345-45b2-896f-45015341a364 | test_profile |             |
| eaa26762-

[2018-06-10 15:39] leonwanghui opened #25 "Clean work should be smarter"
After I installed the opensds-installer with `noauth` option, I cleaned it but found that the keystone clean operation would be performed. So we should change the clean work to skip keystone cleaning if `keystone` option is not specified.

[2018-06-10 15:42] leonwanghui opened #26 "OpenSDS GUI endpoint should be displayed"
After the installation job done, there is no guidance to show the endpoint of OpenSDS GUI process, and it would be confused for users how to connect to it. Can we print out GUI endpoint if the dashboard installation work is done?

[2018-06-10 15:43] leonwanghui commented on #21
@xing-yang I think `hotpot_only` could be a better choice : )

[2018-06-10 15:55] xing-yang opened #27 "/etc/iscsi/initiatorname.iscsi not found"
After installing with opensds-installer ansible in csi mode with LVM backend, the nodeplugin pod failed to start.  The reason was /etc/iscsi/initiatorname.iscsi not found.  "sudo apt-get install open-iscsi" should be part of the deployment step if LVM is selected.

xyang@ubuntu:~/go/src/github.com/opensds/nbp/csi/server/deploy$ kubectl get pod
NAME                                 READY     STATUS

[2018-06-10 16:09] xing-yang opened #28 "nodeplugin container failed to start after install"
Deployed using opensds-install ansible in csi mode with LVM backend.  Nodeplugin failed to start.

$ kubectl get pod
NAME                                 READY     STATUS              RESTARTS   AGE
csi-attacher-opensdsplugin-0         2/2       Running             0          8s
csi-nodeplugin-opensdsplugin-jgzt4   1/2       RunContainerError   1          8s
csi-provisioner-opensdsplugin-0      2/

[2018-06-10 16:43] xing-yang commented on #28
After bind mount, I can start the node plugin pod successfully:

sudo mount -o bind /var/lib/kubelet/pods/83aff2c0-6ccc-11e8-95d2-000c29f57be0/containers/opensds /var/lib/kubelet/pods/83aff2c0-6ccc-11e8-95d2-000c29f57be0/containers/opensds

sudo mount --make-shared /var/lib/kubelet/pods/83aff2c0-6ccc-11e8-95d2-000c29f57be0/containers/opensds

kubectl get pod
NAME                                 RE

[2018-06-10 18:05] xing-yang commented on #21
Sure:)

[2018-06-11 01:13] leonwanghui opened #29 "OpenSDS noauth option doesn't work with dashboard"
## Problem
Currently the opensds dashboard installation is enabled, but I found it only supports keystone integration. But considering the default authentication for opensds is `noauth`, it would fail to using dashboard to interact with opensds server.

## Proposed solution
* Set default authentication way to `keystone`, or set dashboard installation as optional
* Make a clear explanation for user

[2018-06-11 01:36] leonwanghui opened #30 "make doesn't work for missing some packages"
In some VMs, it would occur some errors below when the ansible executes `make` operation:
[code]

After some research, I found that the reason is that these VMs doesn't contain `build-essential` package by default, so we should add them in package downloading step.

[2018-06-11 02:04] xing-yang commented on #29
This is definitely a problem.  We can't view volumes created via kubectl in the dashboard.

[2018-06-11 05:55] wisererik commented on #29
Dashboard implementation depends on keystone, but noauth means do not use keystone. The alternative method is that admin can only view these volumes created by noauth user.

[2018-06-11 06:12] leonwanghui commented on #23
I think this issue can be closed.

[2018-06-11 06:12] #23 closed

[2018-06-11 07:38] leonwanghui commented on #27
Got it, because `open-iscsi` is installed in some environments by default, so we forgot to add it in the package.

[2018-06-11 07:45] leonwanghui commented on #30
Solved

[2018-06-11 07:45] #30 closed

[2018-06-11 12:15] wisererik commented on #19
I encountered same issue when I executed deploy command with sudo "sudo ansible-playbook site.yml -i local.hosts "

[2018-06-11 15:15] leonwanghui commented on #8
I think this solution with containerized dashboard could resolve the issue: [https://github.com/opensds/opensds-installer/pull/31](https://github.com/opensds/opensds-installer/pull/31)

[2018-06-11 23:01] noelmcloughlin opened #32 "automate repo handling in salt module"
fyi, Upstream has  [merged](https://github.com/saltstack-formulas/ceph-formula/pull/17) support for auto-configuring multiple CEPH repo's on DEBIAN/REDHAT/SUSE families. The `opensds-installer/salt` module **could** now invoke `ceph.repo` state to automate repo handling - its currently a manual step in DeepSea README for Suse only.

This feature could be added to #13

[2018-06-12 00:49] leonwanghui commented on #32
That's a good news, @noelmcloughlin could you add this feature in `opensds-installer/salt`? Because multiple ceph cluster could be a good use case for unified storage management.

BTW, sorry for having not tested your PR, as you know we have to fix some bugs before publishing Aruba release. But I will try to install it after the release definitely.

[2018-06-12 05:14] #25 closed

[2018-06-12 05:14] #21 closed

[2018-06-12 08:47] noelmcloughlin commented on #32
Done - added to #13 thanks.

[2018-06-12 08:47] #32 closed

[2018-06-13 06:13] #29 closed

[2018-06-13 06:23] #24 closed

[2018-06-13 14:05] leonwanghui commented on #27
I found that `open-iscsi` is already installed when installing nbp modules using ansible, so I guess we should add this package installation in csi Dockfile.

[2018-06-13 14:09] #27 closed

[2018-06-13 14:10] leonwanghui commented on #26
I think we can add the guidance of `8088` port in the document.

[2018-06-13 14:10] #26 closed

[2018-06-14 06:17] BaiHuoYu commented on #18
"check for golang" has been removed.

[2018-06-14 06:31] BaiHuoYu commented on #19
- name: check go_path
  shell: "{{ item }}"
  with_items:
    - echo "The environment variable GOPATH must be set and cannot be an empty string!"
    - /bin/false
  when: go_path == ""

"skipping" indicates that the command "/bin/false" has not been executed. In other words, the check passed，go_path != "".

[2018-06-15 20:02] xing-yang commented on #8
@noelmcloughlin Yes, that seems to be related.  I am still wondering why "become: yes" didn't work as that should elevate the privilege to root user.

[2018-06-15 21:45] noelmcloughlin commented on #8
@xing-yang Sorry I'm not sure. Maybe the `~/npm` and `node_modules` get wrong permissions. I think "become: yes" probably does work but [this npm bug](https://github.com/npm/npm/issues/17702) is the root cause.  Ansible are blaming npm - see https://github.com/ansible/ansible/issues/29407

[2018-06-16 12:05] xing-yang commented on #8
@noelmcloughlin Thanks.

[2018-06-18 01:41] xing-yang commented on #20
This problem cannot be reproduced any more.  Closing this issue.

[2018-06-18 01:41] #20 closed

[2018-06-25 01:19] #18 closed

[2018-06-27 11:26] noelmcloughlin opened #41 "RFE: Explicitly declare `opensds` namespace toansible/salt"
Hello, I would like to ask if the design of the YAML files included in **opensds** solution: `opensds-ansible-v0.1.6-linux-amd64.tar.gz` could be redesigned to explicitly declare `opensds` name space.

**Current Implementation**
The current yaml file format assumes top-level model namespace is always `opensds` and this is way `opensds-installer/ansible` currently works.

opensds_example.yml
[code]

[2018-06-27 12:06] noelmcloughlin commented on #41
**Implementation proposal**
The proposal could be implemented in opensds-installer/salt first, and later moved to common ansible/salt area in another improvement phase.

The assumption is that  any solution requires (a) product specific configuration (i.e. `opensds`), and (b) site specific configuration (i.e. sitea/opensds, siteb/opensds, sitea/docker, siteb/docker).

Site configuration may includ

[2018-06-28 02:37] leonwanghui commented on #41
Hi, sorry that I am not familiar with the grammar of salt, but if I get it right you are trying to reuse some existing yaml files in ansible to implement salt script. IMO you could have a try but please do not change   the format of any files under `ansible` dir, instead you can create new yaml files in slat folder.

BTW, we moved opensds-ansible code from opensds release to opensds-installer afte

[2018-06-28 09:39] noelmcloughlin commented on #41
I will create new yaml directory under salt & try to use new format under `opensds` namespace. Long term, we would need to reuse a common `opensds-installer/yaml` directory for any automation engine (ansible,salt, etc) for manageable solution. Yes, I have cloned new repo. thanks for quick reply!!!

[2018-06-28 13:51] noelmcloughlin commented on #41
As much as possible I will reuse existing yaml files adding namespace (i.e. `opensds.cinder`) and indent current content by 4 spaces. This pattern should work for most yaml files (except `group_vars/ceph` files which is auto-generated by `ceph-ansible`?)

Example: `salt/group_vars/cinder/cinder.yaml`
[code]

[2018-06-29 06:29] leonwanghui commented on #41
Cool, can you test it on salt first and then we can discuss about the unified configuration? Because currently the format of these files such as `ceph/ceph.yaml` and `lvm/lvm.yaml` are binded in source code, we have to update the code if we change it.

[2018-06-29 09:19] noelmcloughlin commented on #41
Thank you. Closing this question.

[2018-06-29 09:19] #41 closed

[2018-07-16 01:05] leonwanghui commented on #19
I think currently the only way is to remove `sudo` command, but I don't think it should be a problem, so I will close this issue for now, please be free to reopen it if you still have any question.

[2018-07-16 01:05] #19 closed

[2018-07-16 01:09] leonwanghui commented on #22
Hi @BaiHuoYu , can you take a look at this issue? We should change the detection command, or else it would fail if we change the etcd port.

[2018-07-22 16:47] stmcginnis opened #49 "Hotpot build expects makefile to install system packages to build controller"
The makefile for opensds controller had been making apt calls to install system packages. This should not be done in the project makefile. The installer scripts should take care of making sure all necessary system packages are installed.

[2018-07-30 20:19] stmcginnis opened #51 "Installer does full build from source"
The ansible roles will download the latest source from GitHub and build the source to do the install. This should not happen. The installer should pull down and install a released version of the code.

Installer users could run an install mid-way during a development cycle and pick up incomplete implementations. This could cause problems and a bad first experience using OpenSDS. This also requires

[2018-07-31 01:46] leonwanghui commented on #51
Hi @stmcginnis , we do provide the option to install from release files, but I'm afraid it's not working now, considering we change the format of released files when publishing aruba release. So maybe we should test it at first and change the default way to `release` after the bug is fixed.

[2018-07-31 02:54] xing-yang commented on #51
Let's discuss about this in tomorrow's technical meeting.  I have added it in the agenda.

[2018-07-31 21:50] xing-yang commented on #51
Discussed with Sean about this issue in today's technical meeting.  We will backport important bug fixes to stable/aruba.  Installation can be either from stable/aruba if choosing source code or from a release tar ball after a Aruba stable release.

[2018-08-01 02:45] leonwanghui commented on #49
Hi @stmcginnis , should this issue be closed?

[2018-08-01 15:37] stmcginnis commented on #49
Yep, I think we are good with this one now. Thanks Leon!

[2018-08-01 15:37] #49 closed

[2018-08-01 19:40] noelmcloughlin opened #53 "Explain backend storage driver configuration terms"
Could someone explain the configuration used when provisioning backend storage drivers.  Looks like mixture  of formal/de-facto standard parameters & (I guess) opensds-installer parameters?

[code]

[2018-08-01 21:06] noelmcloughlin commented on #53
Thank you, this document is very helpful to understand the `driver` object.

Clearly `dataStorage` models the  Swordfish `dataStorageLineOfService`.  And `maxBWS` is extension to Swordfish `ioConnectivityLineOfService` in OpenSDS.

Are parameters included in `advanced` dictionary implementation specific?  In all models provided by openSDS, clearly each driver must be able to consume `diskType` and

[2018-08-01 21:33] xing-yang commented on #53
Actually maxBWS is in Swordfish spec v1.0.6 now.  It was not in v1.0.5.  I should update the doc with this info.

diskType and latency under advanced are custom properties.  This means admin can come up with their own custom properties for a particular driver.  So these are not "standard" properties defined by OpenSDS.  For example, in OpenStack Cinder, each driver has its own way of defining volu

[2018-08-01 21:43] noelmcloughlin commented on #53
This is helpful.  For deployment automation tools  (DAT) I see the possibility of three models for example - I am just considering how to implement these - but following are possible examples.

**defaults.yaml**
[code]

**vendormap.yaml**
[code]

Before provisioning the admin has full control ...

**Usermap.yaml**
[code]

The correct merging of the models would be handed by DAT (ansible,salt,etc)

[2018-08-01 21:50] xing-yang commented on #53
What does "Usermap.yaml" mean?  Profiles should be set by an admin, not the end user.

[2018-08-01 21:53] noelmcloughlin commented on #53
Yes, adminmap.yaml is better name.

[2018-08-02 08:26] leonwanghui commented on #53
Hi @noelmcloughlin , sorry for the late reply. Actually I'm curious what's your plan to do with these properties of pool, because in the implementation of opensds service, the system will read the specified config file of different backends (`/etc/opensds/driver/ceph.yaml`), so I don't think the system would detect your configuration at all.

Please correct me if I misunderstand your point : )

[2018-08-02 13:55] noelmcloughlin commented on #53
I see a `site.yml` should be reused - its identical concept as salt pillar data (admin map data).  I presume admin controls final configuration here.

**ansible/site.yml**
[code]

[2018-08-03 09:28] leonwanghui commented on #53
Yes, agreed. So maybe you can try it first since there is no constraint defined in this project about how to generate these configuration files : )

[2018-08-04 12:39] noelmcloughlin commented on #53
@xing-yang @leonwanghui Thanks for clarifying parameters in driver file as being `Swordfish`, Talk soon after my vacation.

[2018-08-04 12:39] #53 closed

[2018-08-06 06:14] #51 closed

[2018-09-06 20:40] noelmcloughlin opened #66 "keystone.sh line 92 hardcodes username"
Regarding `keystone.sh`

[Line 91 refers to  **user** "$OPENSDS_SERVER_NAME"](https://github.com/opensds/opensds-installer/blob/3759abd0d4f5f24c5554a7e0ecc7240b2d55989d/ansible/script/keystone.sh#L90)
Line 92 refers to **user** "opensds"

Probably both should reference '$OPENSDS_SERVER_NAME`

[2018-09-06 20:45] noelmcloughlin commented on #66
See this [commit](https://github.com/opensds/opensds-installer/commit/f00086ebc86ca7e59ffcb9060a985128d6004229) for suggested fix

[2018-09-07 00:37] leonwanghui commented on #66
Hi @noelmcloughlin , could you pull a PR to resolve it? If appropriate, I would assign this issue to you : )

[2018-09-07 09:07] noelmcloughlin commented on #66
Hi @leonwanghui, yes no problem.

[2018-09-10 08:40] #66 closed

[2018-09-27 14:47] wisererik opened #71 "Nodeplugin pod falls “CrashLoopBackOff” status in second or later deployment when using helm"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

First deployment using helm(opensds-installer) works fine. But if nodeplugin pod is deleted once, next generated nodeplugin pod falls “CrashLoopBackOff” status. Then k8s node mounting “/dev/termination-log (deleted)”. After unmount it and deploy nodeplugin pod, nodeplugin pod works again.

**What you expected to happen**:

Nodeplug

[2018-09-27 14:54] wisererik opened #72 "Nodeplugin dns policy should be added"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Nodeplugin pod is enabled property “hostNetwork” in chart(link). If OpenSDS api is deployed using helm, csi plugin cannot resolve the name of OpenSDS api. The cause is nodeplugin pod does not use kube-dns to resolve the api. I think adding "dnsPolicy" is better.
Example:
[code]

**Environment**:
- Hotpot(release/branch) version: Ar

[2018-10-24 02:14] leonwanghui commented on #71
This issue would be solved by #75

[2018-10-24 02:15] leonwanghui commented on #72
This issue would be resolved by #75

[2018-10-24 02:16] #28 closed

[2018-11-09 01:16] #71 closed

[2018-12-10 08:30] leonwanghui commented on #22
Already fixed

[2018-12-10 08:30] #22 closed

[2018-12-26 01:24] ghost opened #99 "Proxy support"
Hi, I'm Shinya Hamano from Fujitsu.

**Is your feature request related to a problem? Please describe.**
Our network environment is under proxy, and it causes several problems during install.
Especially, ansible/docker related scripts in the procedure of "OpenSDS Local Cluster Installation through Ansible On Ubuntu" is hard to fix by myself, because apt-get or some component using network is runnin

[2018-12-26 01:53] shn-hmn commented on #99
Thank you for quick response. I will try your suggestion.
I forgot the mention this last time, but I choose "cinder" for enabled_backend".

[2018-12-26 01:56] leonwanghui commented on #99
If the `cinder` is enabled, you need to install it manually, which may be a bit difficult for new developers to setup. So I suggest `lvm`, `ceph` or `cinder_standalone` be easier.

[2018-12-26 05:57] shn-hmn commented on #99
Thank you for the advise.
I would like to setup environment for testing/evaluating purpose, besides for development environment.
It's not urgent problem, so I would appreciate if the installer could support proxy in the future.

[2019-01-21 07:25] lasshpanzer opened #102 "Install the certificates for https access before installing the hotpot."
**Is your feature request related to a problem? Please describe.**
The current hotpot lacks protection for http data transmission. For the security of data transmission, HTTPS adds SSL layer which relies on certificates to verify the identity of the server and encrypt the communication between the browser and the server.

**Describe the solution you'd like**
Install the certificates for https acce

[2019-01-23 08:07] #102 closed

[2019-01-24 17:18] noelmcloughlin opened #105 "[minor] [ansible] [lvm] misleading function name"
**Describe the bug**
A clear and concise description of what the bug is.

**This is minor issue but potentially confusing.**

The scripts `opensds-installer/ansible/roles/osdsdock/scenarios/lvm.yaml` and `opensds-installer/ansible/roles/osdsdock/scenarios/cinder_standalone.yaml` both have a role named "**_create volume group in thin mode_**" but that's misleading.  The function only loads `dm_thin

[2019-01-25 00:57] leonwanghui commented on #105
Hi @noelmcloughlin, thanks for your great description, I think it's a good proposal for developers to understand how it works. Could you pull a PR to change it since you are much better than me in explaining it in English?

[2019-01-28 15:51] noelmcloughlin commented on #105
Yes, I will soon. thanks.

[2019-01-28 15:54] noelmcloughlin opened #106 "[ansible] [cinder_standalone] typo in command"
**Describe the bug**
A clear and concise description of what the bug is.

The script `opensds-installer/ansible/roles/osdsdock/scenarios/cinder_standalond.yaml` has typo.

`- name: pip install cinderclinet`

This ansible role (is that correct terminology?) will fail.

**To Reproduce**

Type `pip install cinderclinet` on command line

**Expected behavior**

No typo

[2019-01-28 15:54] noelmcloughlin commented on #106
should be `- name: pip install cinderclient`

[2019-01-29 00:34] leonwanghui commented on #106
@noelmcloughlin Thanks for pointing out this bug, I will fix it immediately.

[2019-01-29 02:20] #106 closed

[2019-02-04 17:10] noelmcloughlin opened #110 "Rename nbp/release/opensds-provisioner dir to provisioner"
**Is your feature request related to a problem? Please describe.**

The NBP release tarball has following plugin directories:
- csi
- flexvolume
- provisioner

The git repo has following plugin directories:
- csi
- flexvolume
- opensds-provisioner

The inconsistent directory name for provisioner is unhelpful

**Describe the solution you'd like**

Please rename `opensds-provisioner` to `provisioner

[2019-02-11 01:57] leonwanghui commented on #110
Thanks for the feedback, actually it's a bit difficult to rename the folder in git repo, because we have to modify all the package name. @xing-yang @stmcginnis Please take a look, thanks!

[2019-02-11 02:52] xing-yang commented on #110
Seems to be a good idea to make the names consistent.

[2019-02-12 18:00] noelmcloughlin opened #115 "Cinder Standalone requires `libffi` development package"
**Is your feature request related to a problem? Please describe.**

Cinder-standalone requires `libffi-dev` (Ubuntu) and `libffi-devel` (RedHat) or buildbox may fail.

**Describe the solution you'd like**
We should install this package before running cinder-standalone.

**Describe alternatives you've considered**

**Additional context**
https://bugs.launchpad.net/openstack-loci/+bug/1815581

[2019-02-13 00:40] leonwanghui commented on #115
Hi @noelmcloughlin, already assign you the write access to this repo : )

[2019-02-13 12:30] noelmcloughlin commented on #115
Thanks @leonwanghui
I can raise PR for Debian package.
I guess WIKI must be updated for RedHat? Please advise.
https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-On-Redhat

[2019-02-13 13:16] noelmcloughlin opened #120 "osdsdock daemon cannot see lvm pool"
**Describe the bug**

osdsdock cannot see lvm volume group (pool).

**To Reproduce**

Create lvm volume group with default name of `opensds-volumes` . (dash not underscore).
[code]
Ensure opensds.conf is correctly configured
[code]
Restart the osdsdock and osdslet services and check.
[code]
**From /var/log/opensds/osdsdock.INFO**
[code]

**Expected behavior**

The lvm.go module should see the logi

[2019-02-14 02:56] leonwanghui commented on #120
Can you wait a moment to see if it created, because the polling interval of checking pool status is 60s. If still not, can you run `osdsctl dock list` to see if there is dock registered.

[2019-02-14 03:00] leonwanghui commented on #115
Sure, I will resolve it ASAP.

[2019-02-14 03:01] #115 closed

[2019-02-14 23:11] noelmcloughlin commented on #120
Yes its registered.  I had this working in the past but not now.
[code]

[2019-02-14 23:26] noelmcloughlin opened #121 "How to get osdslet working with keystone"
**Describe the bug**
The osdslet service works fine with `noauth`.   How do I get keystone working?

E0214 15:57:27.037359   24025 keystone.go:60] When get auth client:Authentication failed

**To Reproduce**
[code]
**Expected behavior**

I would like osdslet to authenticate with keystone.

**Screenshots**
My devstack installation appears to work fine.
[code]

For troubleshooting I tried passing en

[2019-02-14 23:27] noelmcloughlin commented on #105
Could someone update CentOS instruction on the wiki? - then we can close this.

[2019-02-17 16:44] noelmcloughlin commented on #120
It has started working on CentOS - will retry on Ubuntu.
[code]

[2019-02-18 02:43] leonwanghui commented on #121
@xxwjj, Jerry could you take a look at this issue? thanks!

[2019-02-18 06:25] leonwanghui commented on #105
Hi @noelmcloughlin, I didn't find the CentOS instruction file, can you tell me where is it?

[2019-02-18 08:37] noelmcloughlin commented on #105
Hi @leonwanghui  My mistake - I was thinking of this document: https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible

[2019-02-18 08:52] leonwanghui commented on #105
Ok, but from your PR I didn't see any change need to be down in the wiki, could you show some guidance? Thanks!

[2019-02-18 09:14] noelmcloughlin commented on #105
Sorry I commented on wrong issue - I apologise @leonwanghui  closing this now.

[2019-02-18 09:14] #105 closed

[2019-02-18 10:19] noelmcloughlin commented on #120
Working on Ubuntu too.
[code]

[2019-02-26 10:03] Shruthi-MN opened #122 "Dashboard hungs and will be in loop forever - because of nginx: [emerg] bind() to 192.168.56.102:80 failed (98: Address already in use)"
**Describe the bug**
Dashboard hungs and will be in loop forever - because of nginx: [emerg] bind() to 192.168.56.102:80 failed (98: Address already in use).

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps in https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible
2. No extra steps needed to recreate this issue
3. Find logs as mentioned below for

[2019-02-26 16:44] noelmcloughlin commented on #122
Hi @Shruthi-MN
I think the startup sequence maybe important - please try the following steps to see if this resolves.
[code]

[2019-02-26 16:53] Shruthi-MN commented on #122
I tried these, still it didn't work..
It will be on same error message nginx 98 already in use. I tried to tweak nginx as well. But still  it didn't work...
Couple of my other colleagues are also faced the same issue whoever tried to use master branch. I suspect master branch has some issue.

[2019-02-26 17:27] noelmcloughlin commented on #122
tey stop nginx, stop container, start apache2, start container - does that
work

On Tue 26 Feb 2019, 16:53 Shruthi MN <notifications@github.com> wrote:

[2019-02-26 17:29] noelmcloughlin commented on #122
sorry for typo. i meant "try"....

On Tue 26 Feb 2019, 17:27 Noel McLoughlin <noel.mcloughlin@gmail.com> wrote:

[2019-03-13 00:33] noelmcloughlin opened #124 "Gelato fails on CentOS/Suse"
**Describe the bug**
The `docker compose` of gelato works on Ubuntu but fails on SuSE/CentOS.  Has anyone see this problem or have suggestions to resolve?

**To Reproduce**
This behaviour was seen while testing #13 but can probably be replicated by ansible installer.

**Expected behavior**
`docker compose` of gelato should work on other OS not just Ubuntu.

**Additional context**
[code]

[2019-03-13 00:35] noelmcloughlin commented on #120
This is working for me in #13

[2019-03-13 00:35] #120 closed

[2019-03-13 03:39] leonwanghui commented on #121
Hi @noelmcloughlin, any update on this issue?

[2019-03-13 06:19] leonwanghui commented on #124
@wisererik Please take a look at this issue

[2019-03-13 09:07] noelmcloughlin commented on #121
Hey @leonwanghui I have no update. The `osdslet` service reads configuration from `opensds.conf` and cannot start when `auth_strategy: keystone` even if devstack-keystone was installed.
[code]

[2019-03-13 22:09] noelmcloughlin commented on #124
I think this is [known Docker issue](https://github.com/docker/compose/issues/5745#issuecomment-370048997). One suggested workaround is to use `--force-recreate` flag with docker-compose.

In my earlier testing I never saw this issue on CentOS or SuSE. However I introduced a final salt automation task to recover some disk space. This runs `docker system prune -a -f` while systemd is still executin

[2019-03-13 22:19] noelmcloughlin commented on #124
PR raised upstream: https://github.com/saltstack-formulas/opensds-formula/pull/86/files

[2019-03-14 00:24] noelmcloughlin commented on #124
Still investigating whether `--force-recreate` flag is required or not.
[code]

[2019-03-14 13:40] #124 closed

[2019-03-14 13:41] noelmcloughlin commented on #124
PR merged upstream. Flag `--force-recreate` is not needed for this issue.

[2019-03-15 12:16] kumarashit commented on #122
@noelmcloughlin facing an issue that the dashboard doesn't come up.
Apache2 and nginx both tries to bind on the same port i.e. 80. So it's either of them who gets the port, comes up.
-- Unit nginx.service has begun starting up.
Mar 15 16:41:16 ubuntu-105 nginx[121509]: nginx: [emerg] listen() to 0.0.0.0:80, backlog 511 failed (98: Address already in use)
Mar 15 16:41:16 ubuntu-105 nginx[121509]: n

[2019-03-15 12:19] kumarashit commented on #122
Some additional info:
When i installed through ansible, there was no nginx installed on my system (Ubuntu 16.04.06), So i had manually installed it and restarted all services like apache2, dashboard and nginx

[2019-03-15 15:59] noelmcloughlin commented on #122
I understand the working configuration will need
- nginx installed but service stopped (docker needs the `set_nginx_config.sh` ansible script)
- apache2 installed and listening on port 80
- dashboard container running (network mode host)
This works for me.

[2019-03-22 02:51] lijuncloud opened #129 "Opensds service data is lost after restarting the virtual machine"
**Describe the bug**
Opensds service data is lost after restarting the virtual machine

**To Reproduce**
Steps to reproduce the behavior:
1. Deploying  opensds service using ansible with lvm backend
2. Create  a Profile named "default"
3. Create a volume name volume01
4. restart virtual machine and login opensds service again

**Expected behavior**
 The profiles and volumes created still exist

**

[2019-03-22 10:47] noelmcloughlin commented on #129
Here are my thoughts on this issue.

This is by design. The `ansible/roles/osdsdock/scenarios/main.yml` creates lvm backend storage on a **backing-file** which is made accessible by [losetup configuration](https://www.computerhope.com/unix/losetup.htm) does not survive a reboot.

The losetup solution is natively portable across all Linux distributions with the only requirement that the VM disk is

[2019-04-18 03:50] leonwanghui commented on #122
Hi @Shruthi-MN, any update for this issue?

[2019-04-18 05:05] Shruthi-1MN commented on #122
When we installed through ansible,we had to manually install and restarted all services like apache2, dashboard and nginx. And before that we have to manually clean all container images, when dashboard in restart loop ansible clean.yaml doesn't take care cleaning of restart loop dashboard container.
If we take care of all of these. Then everything works well.

[2019-04-18 05:10] leonwanghui commented on #122
I think we have already changed the dashboard port to 8088, does that still have impact on apache2 service?

[2019-04-18 05:13] Shruthi-1MN commented on #122
Ok great. I didn't check with latest check-in. I will do and let you know soon.

[2019-04-18 05:14] leonwanghui commented on #122
Cool, thanks that

[2019-04-24 09:56] leonwanghui commented on #129
Closing this issue, please reopen it if there are still some problems.

[2019-04-24 09:56] #129 closed

[2019-04-28 08:46] liuqinguestc opened #143 "some bugs when install the bali version of opensds"
**Describe the bug**
when we install bali version of  opensds-installer. It seems that the dashbord is bali version. But the multi-cloud images is not the bali version, we can't use the multi-cloud function.

**To Reproduce**
when we create a aws backend. then we refresh the dashbord. The backend disappears. It seems the authentication problem. The type list of backend  also has the problem.

**Ex

[2019-04-29 10:14] leonwanghui commented on #121
Hi @noelmcloughlin, now ansible has been supported containerized keystone deployment, please update salt to support it, thanks!

[2019-04-30 00:52] leonwanghui commented on #143
Please use English rather than Chinese to describe the problem.

[2019-05-05 14:04] noelmcloughlin commented on #121
Agreed - I will add this feature when I get time.  I'm not sure it fixes the issue - maybe `osdslet` needs some variables exported to its runtime environment.  Was #142 was tested successfully with `osdslet` daemon and dashboard.

[2019-05-17 09:26] rhsakarpos opened #192 "Telemetry Installer completion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
To update the OpenSDS installer to install

- Prometheus
- Grafana
- Push gateway
- Node Exporter
- NginX

and update the configuration files to link all these together

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environm

[2019-05-27 01:04] leonwanghui commented on #122
Hi @Shruthi-MN, what's the status of this issue?

[2019-05-27 01:05] leonwanghui commented on #143
Will close this issue.

[2019-05-27 01:05] #143 closed

[2019-05-27 10:43] NajmudheenCT opened #160 "Telemetry Tools Install: Ansible script ends with an error message , but service is running"
**Describe the bug**
The new ansible deploy script with telemetry install ends with error on Grafana  installation task. But It is noticed grafana tool is installed and running.
We need to check why ansible recorded a fail for this task. attching install log snippet for reference.
We can try installing Grafana as listed in this link https://grafana.com/docs/installation/debian/
The one we used now

[2019-05-27 10:51] NajmudheenCT opened #161 "Telemetry Tool Install Need Patches/Improvements"
**Describe the bug**
Following task needed changes/improvements in telemetry install
1.Alert manager is currently running as a binary. Is it poosible to make it as a service like other tools.
2. Prometheus config need to be updated after pushgateway installation
Add below entry  in to /etc/prometheus/prometheus.yml
- job_name: 'pushgateway'
    scrape_interval: 5s
    honor_labels: true
    static

[2019-05-29 09:58] NajmudheenCT opened #163 "Telemetry : Run lvm exporter as service after installing hotpot"
**Describe the bug**
installer can run lvm_exporter by default as a system service .

Steps to follow [ for reference]
--------
 name: copy lvm_exporter
  shell: "{{ item }}"
  with_items:
    - cp  hotpot_work_dir/bin/lvm_exporter usr/lcal/bin

    - chown root:root /usr/local/bin/lvm_exporter

  become: yes
- name: edit lvm_exporter.service
[Unit]
Description=lvm Exporter
Wants=network-online.ta

[2019-05-30 11:16] NajmudheenCT opened #165 "Telemetry: Install sysstat if telemetry is switched on for lvm"
**Describe the bug**
 Install sysstat if telemetry is switched on and enable collection

**Expected behavior**
If telemetry is eabled , sysstat should be installed and enabed

[2019-05-30 11:16] NajmudheenCT commented on #165
/assign @NajmudheenCT

[2019-05-31 10:15] NajmudheenCT commented on #161
/assign @joseph-v

[2019-05-31 12:53] #165 closed

[2019-06-03 10:53] #161 closed

[2019-06-06 04:37] wisererik opened #176 "Incorrect uninstall of orchestration and telemetry happened even thought I didn't install them"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Incorrect uninstall of orchestration and telemetry happened even thought I didn't install them

**What you expected to happen**:

If I don't install orchestration and telemetry components, the uninstaller will not uninstall them.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-06-06 04:52] wisererik opened #177 "Orchestration server wasn't there when I installed it by ansible"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Orchestration server wasn't there when I installed it by ansible.

**What you expected to happen**:

Orchestration server should be installed when i chose to install it.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- installer(release/branch) version: v0.5

[2019-06-06 04:54] wisererik commented on #177
@joseph-v PTAL

[2019-06-06 04:55] wisererik commented on #176
@joseph-v PTAL

[2019-06-06 07:11] leonwanghui commented on #160
Can u check the status of this issue? I think it’s already been fixed.

[2019-06-06 10:33] PravinRanjan10 opened #214 "Installation with keystone not allowing osdsapiserver to startup"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Installing hotpot with keystone, and it is failing due to osdsapiserver is not coming up.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `unam

[2019-06-06 14:24] leonwanghui commented on #176
I think this issue has been fixed

[2019-06-06 14:25] #163 closed

[2019-06-07 04:00] wisererik opened #180 "The ansible uninstall telemetry even though it's not installed before"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

The ansible uninstall telemetry even though it's no installed before.

**What you expected to happen**:

The ansible will not uninstall telemetry if it's not installed before.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- installer(release/branch) version

[2019-06-07 06:42] satya-gorli opened #182 "OpenSDS Installation failing with ansible while configuring nfs"
Is this a BUG REPORT or FEATURE REQUEST?:

Uncomment only one, leave it on its own line:

/kind bug
TASK [osdsdock : create volume group for nfs server if specify nfs backend] ***********************************************************************************************************************************
task path: /root/opensds-installer/ansible/roles/osdsdock/scenarios/nfs.yml:59
Using module

[2019-06-07 07:19] satya-gorli opened #190 "opensds installation failing using ansible (configured for lvm)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
OpenSDS installation using ansible failing with LVM
**What you expected to happen**:
opensds installation should be success
**How to reproduce it (as minimally and precisely as possible)**:
TASK [gelato-installer : wait for service to start normally] ***********************************************************************************

[2019-06-07 09:15] satya-gorli opened #183 "In OpenSDS Installer ansible steps, -How to test opensds cluster -- steps are wrong"
**Describe the bug**
In OpenSDS Installer ansible steps, -How to test opensds cluster -- steps are wrong
**To Reproduce**
Steps to reproduce the behavior:
Go to section 2 How to test opensds cluster
OpenSDS CLI
Firstly configure opensds CLI tool:

sudo cp /opt/opensds-hotpot-linux-amd64/bin/osdsctl /usr/local/bin/
export OPENSDS_ENDPOINT=http://{your_real_host_ip}:50040
export OPENSDS_AUTH_STRATEG

[2019-06-07 12:04] NajmudheenCT opened #185 "Telemetry install: Need url parameter in osdslet config"
**Describe the bug**
Metrics controller looks for the urls in flag set by osdslrt init function.
As of now this config is not available by default in opensds.conf

We need to add below under [osdslet]
alertmgr_url = 'http://localhost:9093'
grafana_url = 'http://localhost:3000'

**To Reproduce**
Query http://127.0.0.1:50040/v1beta/<tenantId>/metrics/urls

**Expected behavior**
GET for url should gi

[2019-06-07 12:05] NajmudheenCT commented on #185
/assign @joseph-v

[2019-06-08 06:01] joseph-v opened #186 "Not able to use osdsctl with default ansible installer"
**Describe the bug**
Default ansible installer will install keystone with docker. This is not creating  '/opt/stack' folder to run following step mentioned in the wiki (https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible). So osdsctl is unusable.

'source /opt/stack/devstack/openrc admin admin'

**Expected behavior**
osdsctl should be usable. Wiki should be updated

[2019-06-08 06:25] joseph-v commented on #186
I tried export steps mentioned in wiki (https://github.com/opensds/opensds/wiki/OpenSDS-Local-Cluster-with-Multi-tenants-Installation) and still got error.

test@T:/opt/opensds-hotpot-linux-amd64/bin$ export OPENSDS_AUTH_STRATEGY=keystone
test@T:/opt/opensds-hotpot-linux-amd64/bin$ export OPENSDS_ENDPOINT=http://192.168.0.131:50040
test@T:/opt/opensds-hotpot-linux-amd64/bin$ export OS_AUTH_URL=htt

[2019-06-08 06:31] joseph-v opened #187 "Wiki page needs update for dependancy package"
**Is your feature request related to a problem? Please describe.**
Ansible installer for ubuntu Wiki (https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible) needs to be updated for installing 'gawk' before running ansible-playbook. Without gawk installer failed

[2019-06-10 06:17] leonwanghui commented on #187
Could u show us the error logs without `gawk` installed? I guess in most of Ubuntu verison, it's installed by default.

[2019-06-10 06:25] wisererik commented on #187
some of ubuntu vm image will not contain it, such as virtual box vm. we used the official image, but it doesn't contain gawk.

[2019-06-10 06:35] leonwanghui commented on #187
@joseph-v Already update it, please check it in [wiki doc](https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible).

[2019-06-10 06:35] #187 closed

[2019-06-10 06:36] leonwanghui commented on #186
Did u get this issue resolved?

[2019-06-10 06:37] #180 closed

[2019-06-10 11:51] NajmudheenCT opened #189 "Telemetry : Change default path of Alert manager config file in telemetry.yml"
**Describe the bug**
Change alertmgr_conf_home: /root/alertmanager-0.16.2.linux-amd64/
to
alertmgr_conf_home: /etc/alertmanager

[2019-06-11 06:22] NajmudheenCT opened #191 "OpenSDS Installation through Ansible is not installing from Dev branch"
**Describe the bug**
Issue1:
OpenSDS  Installation through Ansible is not installing from Dev branch eventhough we specify

install_from: repository

repo_branch: development

in common.yml.

It is noted that git branch built is master.

Issue2:
Even though the latest master has changes related to building lvmexporter, that code was not fetched.

Thanks,
**To Reproduce**
install using ansible and

[2019-06-11 10:18] #189 closed

[2019-06-11 10:19] #185 closed

[2019-06-11 10:20] leonwanghui commented on #191
/assign @BaiHuoYu

[2019-06-11 10:22] satya-gorli opened #194 "Orchestration-Dashboard: Getting Services not showing anythin in dashboard while same request from Postman its giving 200-OK"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Services tab'
2. 404 error coming
3. Same url returning 200OK in Postman

**Expected behavior**
Should not give 404..

**Screenshots**
![Orchestration-dashboard-NoServicesDisplayed](https://user-images.githubusercontent.com/48289385/59264319-7fc6e100-8c60-11e9-97bf-

[2019-06-11 10:26] NajmudheenCT commented on #191
Not able to reproduce now, Hence closing,
Thanks,

[2019-06-11 10:26] #191 closed

[2019-06-11 10:28] NajmudheenCT commented on #160
Not able to reproduce, Closing this issue.

[2019-06-11 10:28] #160 closed

[2019-06-11 10:48] satya-gorli commented on #194
/assign @joseph-v

[2019-06-11 15:43] wisererik opened #197 "Services were not displayed in service page"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

![Selection_010](https://user-images.githubusercontent.com/9572954/59286539-8d469000-8c8d-11e9-9b31-81e076a1b332.png)

**What you expected to happen**:

Services should be displayed in service page by default.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2019-06-11 18:37] himanshuvar opened #195 "opensds installation failing using ansible for rc2"
**Describe the bug**
OpenSDS installer is failing for RC2.

**To Reproduce**
Follow OpenSDS Cluster Installation through Ansible

**Expected behavior**
opensds installation should be successful

**Screenshots**
![image](https://user-images.githubusercontent.com/8712951/59297311-a52a0e00-8ca5-11e9-98d1-2e33efd5c854.png)

`
TASK [gelato-installer : start service] ************************************

[2019-06-12 00:35] leonwanghui commented on #195
It's because gelato `v0.5.4` hasn't been published yet, so will close it for now.

[2019-06-12 00:35] #195 closed

[2019-06-12 11:58] satya-gorli opened #196 "Orchestration - Services/Instances are not able create after installation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. Follow the ansible steps for installng Opensds including Orchestration
2. After successful installation, not able to create services/instances either through dashboard or postman
3. Developer need to do some manual changes to do the above
**What you expected to happen**:
No Manual intervetion requied to do Orchestration operation

[2019-06-12 14:14] skdwriting commented on #196
Moved to installer. /assign @joseph-v

[2019-06-12 14:17] skdwriting commented on #197
duplicate of #196  ? @joseph-v , please check and update

[2019-06-12 15:05] himanshuvar opened #198 "opensds installation failing using ansible for release v0.5.4"
**Describe the bug**
OpenSDS installer is failing for RC2.
keystone docker was disabled while installation

**To Reproduce**
Follow OpenSDS Cluster Installation through Ansible

**Expected behavior**
opensds installation should be successful

**Screenshots**
![image](https://user-images.githubusercontent.com/8712951/59362534-40c48880-8d51-11e9-9e00-6a9fd367f4bb.png)

**Logs**
`
TASK [hotpot-instal

[2019-06-12 15:06] himanshuvar commented on #198
/assign @joseph-v

[2019-06-13 05:07] skdwriting commented on #198
@himanshuvar , please provide your environment information in detail. Because, installer issues are random and can depend on the system. Please take the list of installed packages along with version also. It can help us to stabilize installer in all supported platforms.

[2019-06-13 05:09] skdwriting commented on #194
@satya-gorli is it a dashboard issue or installer? please discuss and update here.

[2019-06-13 05:10] skdwriting commented on #190
@satya-gorli  /duplicate #198 ?

[2019-06-13 05:18] skdwriting commented on #183
@joseph-v , as discussed, please add the comments and close

[2019-06-13 05:44] skdwriting commented on #182
@joseph-v , please check and close.
Ref #198 #190 #186

[2019-06-13 06:01] skdwriting commented on #177
@wisererik , can we close this?

[2019-06-13 06:01] skdwriting commented on #176
@wisererik , can we close this?

[2019-06-13 06:08] skdwriting commented on #122
@Shruthi-1MN , can we close this. please check and close

[2019-06-13 06:10] skdwriting commented on #121
@noelmcloughlin , can we close this issue or any update?

[2019-06-13 06:23] skdwriting commented on #110
I see the same even now. Adding this to backlog for handling it after capri

[2019-06-13 06:26] skdwriting commented on #99
Adding to backlog for analysis and resolution in the next release.

[2019-06-13 06:27] skdwriting commented on #72
@wisererik , can we close this issue?

[2019-06-13 10:06] satya-gorli opened #200 "After Ansible installation, default Profile is not available"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Follow Ansible steps to install OpenSDS (Master branch)
2. Check the default Profile exists or not
3. default Profile not exists

**Expected behavior**
After successful installation using ansible, default Profile should be existed

**Screenshots**
If applicable, add screenshots to help explain your proble

[2019-06-13 12:15] noelmcloughlin commented on #121
I will close this for now. Soon I will be working on updating salt installer with ansible installer features.

[2019-06-13 12:15] #121 closed

[2019-06-13 13:17] NajmudheenCT opened #201 "Update opensds.conf with telemetry configs before starting hotpot services"
**Describe the bug**
As of now hotpot process starts before telemtry installer tasks update opensds.conf.
need to change the order , so that when hotpot processes starts it has the inof about telemetry configs.

[2019-06-13 13:47] leonwanghui commented on #198
@himanshuvar Can u test the patch now?

[2019-06-13 14:16] NajmudheenCT commented on #201
/assign @NajmudheenCT

[2019-06-13 15:19] joseph-v commented on #196
PRs PR #202 and PR #204 should fix this

[2019-06-13 15:20] joseph-v commented on #197
Yes this is duplicate. PRs PR #202 and PR #204 should fix this.

[2019-06-13 15:25] joseph-v commented on #176
This issue is fixed in PR #181

[2019-06-13 16:11] #201 closed

[2019-06-13 16:13] leonwanghui commented on #200
Currently when installing from ansible, there is no step to create default profile, user need to create their own profile manually.

[2019-06-13 17:44] himanshuvar commented on #198
Tried with the latest changes, failed to start the gelato service.
Attached the logs.
[file.txt](https://github.com/opensds/opensds-installer/files/3287405/file.txt)

**Logs**
TASK [gelato-installer : wait for service to start normally] **************************************************************************************************************************************************
task path: /root

[2019-06-14 00:43] leonwanghui commented on #198
@wisererik @liuqinguestc Please take a look, thanks!

[2019-06-14 00:44] leonwanghui commented on #198
/assign @liuqinguestc

[2019-06-14 05:03] satya-gorli commented on #200
Ok

[2019-06-14 05:03] #200 closed

[2019-06-14 05:07] satya-gorli commented on #194
As its working with Postman.. Its not an issue with Orchestration
Expectation is Dashboard should show... So I consider this issue from Dashboard..
Root cause can be nginx configuration of port mapping

[2019-06-14 05:10] satya-gorli commented on #190
#198 is with v0.5.4 version..
This issue might be same(Respective dev should identify the root cause) thats existing since v0.5.3

[2019-06-14 06:21] joseph-v commented on #183
Unable to reproduce. @satya-gorli please confirm if issue is still present?

[2019-06-14 09:10] NajmudheenCT opened #206 "Telemetry: pick hostip from common while updating config in installer"
**Describe the bug**
Telemetry: pick hostip from common while updating config in installer
as of now manually we need to enter IP in all places

[2019-06-14 09:11] NajmudheenCT opened #207 "Telemetry : check condition telemtry_install while updating opensds.conf"
**Describe the bug**
Telemetry : check condition telemtry_install while updating opensds.conf
As of now conf file is updated without checking the flag

[2019-06-14 09:11] NajmudheenCT commented on #207
/assign @NajmudheenCT

[2019-06-14 09:12] NajmudheenCT commented on #206
/assign @NajmudheenCT

[2019-06-14 09:46] NajmudheenCT commented on #192
@skdwriting  @leonwanghui , changes to install all telemetry components are in ansible script now

[2019-06-14 10:36] #207 closed

[2019-06-14 10:36] #206 closed

[2019-06-14 10:39] satya-gorli commented on #183
Latest intsallation, its working fine..

[2019-06-14 10:39] #183 closed

[2019-06-14 11:07] satya-gorli commented on #196
After  #204 PR merged its listing all the Services..

[2019-06-14 11:07] #196 closed

[2019-06-14 11:18] joseph-v commented on #182
This issue is fixed in PR #169. Current CI builds are passing with lvm and nfs enabled backends.

[2019-06-14 11:27] satya-gorli commented on #182
Verified latest CI Build Log ..installation success.. (https://github.com/opensds/opensds-installer/runs/148432137)

[2019-06-14 11:27] #182 closed

[2019-06-14 11:34] joseph-v commented on #186
This issue was observed in virtual box VM. Not observed in native install or cloud VM. So, closing the issue.

[2019-06-14 11:34] #186 closed

[2019-06-14 18:31] leonwanghui commented on #192
@NajmudheenCT Does that mean we can close this issie?

[2019-06-14 18:32] #176 closed

[2019-06-14 18:33] #177 closed

[2019-06-15 05:32] skdwriting opened #215 "API URL Optimization [v1beta...]"
/kind feature
/kind enhancement

**What happened**:
Currently API URL is like
http://<hostip>:<port>/v1beta/<tenant id>/<feature>
Example:
http://127.0.01:5000/v1beta/73571fdd03724eef8e1dd85b8ffc7568/orchestration/services

**What you expected to happen**:
Cleaner URL, able to handle different API end points, mapping and modules. May be minor cleanup?

[2019-06-15 10:44] NajmudheenCT commented on #192
@leonwanghui Yes please close. I am not able to close!

[2019-06-20 01:36] leonwanghui commented on #214
@liuqinguestc Please check with this issue, thanks!

[2019-06-20 01:37] leonwanghui commented on #198
@himanshuvar Could u take another test with the latest v0.5.5 code?

[2019-06-20 01:37] #197 closed

[2019-06-20 01:38] #192 closed

[2019-06-20 01:41] leonwanghui commented on #72
@wisererik Any update on this issue? I think provisioner, attacher and snapshotter would also need to enable it.

[2019-06-20 05:45] himanshuvar commented on #198
Its installing successfully with v0.5.5 code

[2019-06-20 05:45] #198 closed

[2019-06-20 05:54] himanshuvar opened #223 "Opensds installation failing for v0.5.5 using ansible (configured for csi plugin)"
**Describe the bug**
While Installation OpenSDS release v0.5.5, lvm_exporter service is not starting on 8080. There is a port conflict for hyperkube which is listening on same port i.e. 8080.

**To Reproduce**
Steps to reproduce the behavior:
Follow the following link to configure OpenSDS v0.5.5 with CSI nbp plugin
[https://github.com/opensds/opensds/wiki/OpenSDS-Integration-with-Kubernetes-CSI](u

[2019-06-20 07:24] #223 closed

[2019-06-20 08:27] NajmudheenCT opened #225 "Change default port number of lvm_exporter"
**Describe the bug**
9094 is the default port for Alertmanager clustering .
please see default port allocations of exporters here.
https://github.com/prometheus/prometheus/wiki/Default-port-allocations

We can use 9601

[2019-06-20 08:32] leonwanghui commented on #225
Please submit a PR to change it.

[2019-06-20 09:45] #225 closed

[2019-06-26 04:59] satya-gorli commented on #194
Tested with Capri Release.. working fine

[2019-06-26 04:59] #194 closed

[2019-06-26 05:17] joseph-v commented on #190
Sometimes installation fails in gelato installer when port 80 is not free in host machine and once port is free installation succeeds. This issue seems to be same. @satya-gorli please confirm?

[2019-07-02 04:07] anvithks opened #234 "Grafana installation fails and aborts OpenSDS installation. The repository PPA has been removed."
**Describe the bug**
When installing OpenSDS using the install script and when Telemetry tools are enabled, the installation of Grafana fails. The PPA for the Grafana repository at `https://packagecloud.io/grafana/stable/debian/` is no longer available and throws a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps for installation of latest release (v0.6.0 / Capri)

[2019-07-02 09:00] satya-gorli commented on #190
If the information provided in Installer document, can verify and close the issue

[2019-07-03 09:09] satya-gorli commented on #190
Closing the issue with Documentation PR: Add Ansible Installer Userguide for OpenSDS #13

[2019-07-03 09:09] #190 closed

[2019-07-08 06:21] Chids-gs opened #237 "Telemetry : Pre-Configured Grafana Dashboard"
1. Enabled Telemetry Ansible for repeat installation
The Ansible playbook for telemetry part was not having command in such a fashion that we can re-run the setup again and again.

- Bundled all user creation command with check if user is already created
- Added a task to stop all running services (use case of repeat run)

**File Affected :**            ansible/roles/telemetry-installer/scenarios/

[2019-07-08 06:28] Chids-gs commented on #237
Have created a PR for the same

[2019-07-08 06:30] #237 closed

[2019-07-08 13:54] #234 closed

[2019-07-09 08:17] leonwanghui opened #240 "Need to cherry pick commits merged to Development after Capri release into Master"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
There are some PRs that got merged into Development branch after the Capri release.
They need to be cherry-picked into Master, otherwise they will be lost because Development branch is deprecated.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need t

[2019-07-09 08:23] #240 closed

[2019-07-11 03:42] leonwanghui commented on #214
Will close this issue, please reopen it if anything still goes wrong.

[2019-07-11 03:42] #214 closed

[2019-07-11 03:55] leonwanghui opened #242 "Installation guide in salt is out-of-date"
**Describe the bug**
In the test step, something goes wrong for profile creation operation:
[code]

It should be changed to:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help ex

[2019-07-11 07:02] leonwanghui commented on #242
@noelmcloughlin PTAL, thanks!

[2019-07-11 07:10] leonwanghui opened #244 "Installation doc for multi-nodes deployment is out-of-date"
**Describe the bug**
The installation [document](https://github.com/opensds/opensds-installer/blob/master/ansible/docs/OpenSDS%20Multi-nodes%20installation%20using%20Ansible.md) for multi-nodes deployment is out of date, please take a test and modify some steps.

What I found is below:
* The installer code branch should be updated to `stable/capri`.
* Default profile creation step should be update

[2019-07-11 08:44] leonwanghui commented on #242
@noelmcloughlin Also please remove [this file](https://github.com/opensds/opensds-installer/blob/master/salt/bob) if it's not required.

[2019-07-11 15:42] #242 closed

[2019-07-12 15:17] #244 closed

[2019-07-26 06:06] Shruthi-1MN opened #252 "Enable 2 backend drivers through ansible script not happening"
**Describe the bug**
A clear and concise description of what the bug is.
Install hotpot project using ansible script, and as per installation guide https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible if we enable 2 ceph, lvm together. We can't see dock listing these 2 drivers and pool as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Cli

[2019-07-30 00:01] noelmcloughlin opened #254 "testing: fix salt installer on archlinux"
**Describe the bug**
There are some failed **salt** states on Archlinux.
These issues can be addressed upstream but we need to retest when done.

**To Reproduce**
```sudo bash ./installer.sh -i opensds`

**Expected behavior**
No state failures.

**Additional context**
[code]

[2019-07-30 10:43] Shruthi-1MN opened #255 "Unable to install ceph enabled driver alone with ansible script"
**Describe the bug**
A clear and concise description of what the bug is.
Ceph installation through ansible not working

**To Reproduce**
Steps to reproduce the behavior:
Follow installation guide through ansible by choosing backend driver as ceph
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Please find osdsdock error log below
Log file created at: 2019/07/30 15:28:11
Ru

[2019-08-09 03:44] thatsdone opened #257 "Switching to the current Ubuntu LTS(18.04)"
**Describe the bug**

This is a suggestion, not a bug.
Let's update base OS to Ubuntu 18.04(bionic) in the documentation below and
opensds-installer. It's Uubuntu 16.04 based and it's already out-of-date.

https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible

**Expected behavior**

To be able to install and run tests opensds (using opensds-installer) on Ubuntu 18.04

[2019-08-09 03:53] thatsdone opened #258 "keystone container installation returns wrong endpoint addresses"
**Describe the bug**

In case of keystone container installation, keystone returns '0.0.0.0' for all the endpoint addresses even if I set HOST_IP (not only 'host_ip'  in 'opensds-installer/ansible/group_vars/common.yml') on installation time. (Please see the screenshot below.)

This does not make sense, and I think ansible/scripts/keystone.sh needs additional endpoint configuration (at least). Act

[2019-08-09 04:14] thatsdone opened #259 "Switching to the latest ansible release"
**Suggestion**

Lets' use the latest stable ansible (not Ubuntu bundled one) and write down installation procedure as described below.  Now the latest stable is 2.8.3 (Ubuntu bionic bundles 2.5.1).

https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#latest-releases-via-apt-ubuntu

In this sense, the cluster installation document in #257  refers  'install_ansible.sh'

[2019-08-09 04:23] thatsdone opened #260 "Switching to standard docker-ce"
**Suggestion**

Let's use standard docker-ce through docker apt line because opensds must be docker version agnostic, and it's better to use stable and standard ones.

The below procedure gives us docker-ce 19.03.1 now.
  https://docs.docker.com/install/linux/docker-ce/ubuntu/

Also, let's use the standard docker-compose in Ubuntu bionic repository. Now it gives us docker-compose 1.17.1, it's a bi

[2019-08-09 04:51] wisererik commented on #260
Hi Itoh-san, Thanks for your suggestion. For docker-ce and docker-compose installation, we follow the docker official document to install docker-ce and docker-compose, please see detail: https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible.
For ubuntu os version, we will test installation on ubuntu bionic version

[2019-08-09 04:54] wisererik commented on #258
Hi Itoh-san, thanks for testing opensds-installer. @joseph-v, please have a look at this issue.

[2019-08-09 04:56] wisererik commented on #257
@joseph-v please take a look at it. Both of 16.04 and 18.04 should be supported.

[2019-08-09 04:56] thatsdone opened #261 "etcd is unstable on ansible osdsdb native installation (Ubuntu 18.04)"
**Describe the bug**

I'm trying to run opensds on Ubuntu 18.04 using opensds-installer/ansible, and in this case, etcd crashes repeatedly and unstable.

I simply updated etcd to the latest (v3.3.13) from v3.2.25.
Sorry, I had no time to dig into the root cause, but anyway etcd was stabilized.

Also, container installation was stable (maybe because 'ansible/roles/osdsdb/scenarios/container.yml' pu

[2019-08-09 05:00] thatsdone commented on #258
Hi @wisererik and @joseph-v , I can work on this topic, and please feel free assigning me to this issue if
 this issue makes sense.

[2019-08-09 05:06] wisererik commented on #259
Hi Itoh-san, the reason why we didn't upgrade ansible to the latest is that we chose ceph-ansible(stable-3.0 branch) to install Ceph luminous whose ansible version must be 2.4, see detail: https://docs.ceph.com/ceph-ansible/master/.
We will check again and update the ansible version if required.

[2019-08-09 05:08] wisererik commented on #258
That's great, Itoh-san~

[2019-08-10 05:16] thatsdone commented on #259
Hi @wisererik,
OK, it make sense, and I will also check it out if newer ansible works with ceph-ansible or not, and come back here.

One more point. I noticed that there does exit  'opensds-installer/ansible/install_ansible.sh' script. I'm not sure why I was missing it, but anyway I'm sorry.

[2019-08-10 14:23] thatsdone commented on #258
Hello @wisererik @joseph-v,
The below is my current patch for this issue.

https://github.com/thatsdone/opensds-installer/commit/a7d08c7ed770783168eecd0810adffe2f5e7dcfe

At the moment, I tested it on Ubuntu 16.04.6 (xenial, not bionic) cloudimage, and it looks like working at least for me.

But, but I have several discussion points.

1. I worked on the master branch because this is a bug fix. Nee

[2019-08-11 15:20] thatsdone opened #262 "ansible osdsdb container installation fails because of missing docker-py"
**Describe the bug**

ansible-playbook failes at the osdsdb installation step when 'etcd_container_enabled' is true.

This is because 'ansible/roles/osdsdb/scenarios/container.yml' does not have 'pip install docker-py' task.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the ansible based installation doc. https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-A

[2019-08-11 15:21] thatsdone commented on #262
This is a kind of trivial bug, and I have a fix. Please feel free assigning this to me.

[2019-08-12 04:10] wisererik commented on #258
Hi Itoh-san, we work on master branch now.  Regarding  2-3, you can do by you own idea. Regarding 4 , I remeber someone has called openstack api in somewhere. Maybe the openstack-python-client has been installed.

[2019-08-12 06:32] thatsdone commented on #258
Hi @wisererik,

Thanks for your comment.
Regarding python-opentackclient, AFAIK, keystone devstack installation uses it.
I added removal process too and I believe this is not a significant problem.

Anyway, I will make a PR today (in Tokyo time haha).

[2019-08-15 15:51] thatsdone commented on #255
Hi @Shruthi-1MN ,

I also began to work on ceph integration. I have several clarifications.

Q1. Did you install ceph separately (outside opensds-installer) ?
Q2. If yes, is it working on the opensds target node? For example, what does 'ceph health' return?

[2019-08-19 06:43] Shruthi-1MN commented on #255
No, i installed using ansible

[2019-08-19 11:08] Click2Cloud-Gamma commented on #255
Hi @Shruthi-1MN, check logs for Ceph installation process @ `/var/log/ceph_ansible.log` or check cluster health `ceph -s`.

[2019-08-20 03:45] thatsdone commented on #255
Hi @Shruthi-1MN ,
As @Click2Cloud-Gamma , you would see 'ceph -s' like below if the ceph installation portion worked successfully.

[code]
In this setup, the only modifications I made to the playbook ( files under ansible/group_vars/) are at the bottom of this comment, and I got an working all-in-one installation with only ceph backend.

[code]

In the below, please note that I attached one additi

[2019-08-20 05:25] #258 closed

[2019-08-22 03:56] thatsdone opened #270 "Improvement of ansible ceph integration"
**Is your suggestion related to a problem? Please describe.**

To improve ceph integration process via opensds-installer in order to avoid troubles (e.g. #255).

**Describe the solution you'd like**

I would suggest step-by-step improvement like below.

* step1: Add configuration checks
  - check if:
    - 'devices:' in ansible/group_vars/ceph/all.yml is empty or not,
        - if not empty, check

[2019-08-22 04:27] wisererik commented on #270
@thatsdone it's a good suggestion.  My friend Joseph will check it. Or are you intereted at implementing this feature?

[2019-08-22 04:35] thatsdone commented on #270
@wisererik I have some working codes for (a part of) step 1 and step 2, and I'm creating PRs. As for step 3, I think it's better discussing details first.

[2019-08-22 05:13] wisererik commented on #270
Sure, we can discuss on slack, it's more efficient.

[2019-08-24 02:57] thatsdone commented on #270
FYI. You can find my working code below.

https://github.com/thatsdone/opensds-installer/commits/refactor-ceph-ansible

[2019-08-24 07:39] wisererik commented on #270
Sure, it's better you submit a PR so that I can know the code changes well

[2019-08-24 15:15] thatsdone commented on #270
After adding waiting logic for ceph stabilization, it turned out that we still get the same symptom. So,
 I  looked into osdsdock side, and I noticed one potential (?) issue there.
The below is the issue I filed.

https://github.com/opensds/opensds/issues/991

[2019-08-25 09:03] thatsdone commented on #99
Hi @shn-hmn san,

Allowing docker to access the Internet through proxy require putting files like the following.

- /etc/systemd/system/docker.service.d/https-proxy.conf
[code]
- /etc/systemd/system/docker.service.d/http-proxy.conf
[code]

If your company's proxy requires authentication,
you need to add 'USER:PASS@' in front of the YOUR_PROXY_ADDRESS

At the moment, opensds-installer ansible asks

[2019-08-25 09:09] thatsdone commented on #252
Hi @Shruthi-1MN ,

Which pool did you see?
I guess you saw 2 docks, but only 1 pool of 'lvm'. In other words, 'ceph' pool didn't come up.

If my guess is correct, this comes from the same root cause with #255 , and we are approaching to the resolution (I think).

[2019-08-25 15:03] thatsdone commented on #262
As the fix was already merged, I'm closing this issue.

[2019-08-25 15:03] #262 closed

[2019-08-25 15:26] thatsdone commented on #270
I submitted a PR for this, implementing step1 and step2. Hope this PR makes sense.
Please note that I updated my original suggestion at the top, and this PR covers all the points from 1a to 2b there.

Regarding step3, I'd like to have a consensus on the priority of installation scenarios at first.

[2019-08-26 04:34] wisererik commented on #252
I think it's same issue as you reported

[2019-08-27 05:54] Shruthi-1MN commented on #252
Yes i will close this as it duplicate of #271

[2019-08-27 05:54] #252 closed

[2019-08-28 02:32] thatsdone commented on #270
So far, Himanshu game me very useful feedbacks, and at the moment this PR has a problem when the target Ubuntu box has existing ceph packages and/or /etc/ceph.
Please note if you begin from a fresh Ubuntu 16.04 box WITHOUT any ceph packages, it actually worked including ceph-ansible stable-3.1+mimic. But, anyway in general, it's desirable to take care of existing ceph packages (mostly upgraded).

[2019-08-30 18:07] himanshuvar commented on #270
@thatsdone Thank you Please update your PR with the changes you find it relevant to fix now

[2019-09-02 00:39] thatsdone commented on #270
@himanshuvar I submitted updated PR. https://github.com/opensds/opensds-installer/pull/273

[2019-09-09 04:53] wisererik commented on #255
it's solved with PR #273, will close it.

[2019-09-09 04:53] #255 closed

[2019-10-23 10:57] joseph-v opened #276 "Add support for YIG installation, the new multi-cloud feature"
**Describe the bug**
The multi-cloud feature YIG is to be added to OpenSDS installer

[2019-10-23 11:00] joseph-v opened #277 "Check for port usage before installation"
**Is your feature request related to a problem? Please describe.**
Installation fails if all required port for the installer is not available.

**Describe the solution you'd like**
Before installation starts we need to verify that all required ports are free.

[2019-10-23 11:05] joseph-v opened #278 "Make cleanup more robust"
**Is your feature request related to a problem? Please describe.**
Current clean.yml will remove all intermediate/download files. If we intent to do re-install, we need to make cleanup in levels (like, only stop, remove, clean etc)

[2019-10-23 11:08] joseph-v opened #279 "Retain etcd-db to support re-install of OpenSDS with DB"

[2019-11-06 04:31] joseph-v opened #282 "Ansible Installation failure on VirtualBox Ubuntu VM 16.04"
**Describe the bug**
Ansible Installation failure on VirtualBox Ubuntu VM 16.04 because because python module requests is not available.

[2019-11-26 13:53] sushanthakumar opened #294 "[Multicloud Installation] Installation through ansible is failing"
**Describe the bug**
A clear and concise description of what the bug is.

**Gelato Installation through ansible is failing in v0.6.2 - Daito RC1 - First Test Release for Daito**

**To Reproduce**
Steps to reproduce the behavior:
1.  Use ansible script for installation
![image](https://user-images.githubusercontent.com/30930862/69638404-9e8b2980-1080-11ea-9ed9-31bcc1cc0e4b.png)

2. Use install from

[2019-11-29 03:43] kumarashit commented on #294
Can we please quickly fix it? My understanding is that we know the solution and we just update the installer

[2019-11-29 04:37] joseph-v commented on #282
Fix merged

[2019-11-29 04:37] #282 closed

[2019-12-01 13:59] rhsakarpos commented on #294
hi
will fix this by EOD of 3/Dec/2019,
regards

On Fri, Nov 29, 2019 at 9:13 AM Ashit Kumar <notifications@github.com>
wrote:

--
thanks and regards
Prakash

[2019-12-04 06:50] joseph-v opened #298 "Update release version"
Update release tag/version

[2019-12-09 10:27] NajmudheenCT opened #300 "Ansible install from repository fail to pull opensds repository when uncommitted changes exists"
**Describe the bug**
When we have some uncommitted changes in $GOPATH/src/github/opensds/opensds the next clean and install will not update the opensds repository.
When we specify install_from: repository and repo_branch: development  as below

[code]
installer fail to pull latest development branch , but it build and install local copy of opensds.

**To Reproduce**
Steps to reproduce the behavior

[2019-12-09 10:36] NajmudheenCT opened #301 "Ansible install:Dashboard docker image pulled is very old when 'latest' is spcified."
**Describe the bug**
When OpenSDS is installed using ansible script by specifying  install_from: repository and repo_branch: development as below
[code]
The pulled dahboard image is old and notdo not contain latest changes.

**To Reproduce**
1. configure common.yml as above
2. install opensds
4. launch dashboard and look for latest changes.

**Expected behavior**
lastest dashboard image should inc

[2019-12-16 06:06] seiyatakei opened #304 "set_global.sh cannot set "enable_backends""
**Describe the bug**
When use ansible for install, set_global.sh cannot set a variable "enabled_backends" for running playbook.
The behavior is following.
[code]

**To Reproduce**
[code]

**Expected behavior**
[code]

[2019-12-17 16:00] sushanthakumar opened #306 "[CSI Installation] Image version handling for CSI pods"
**Describe the bug**
When we use ansible installer with particular version (ex v0.7.0) and bring CSI pods up, currently
CSI pods are not coming up to Running state.
Reason is CSI images are pushed with specific version tag , but deployment yaml are always using version with "latest"
ie
![image](https://user-images.githubusercontent.com/30930862/71010133-66bc5280-2111-11ea-9bd1-3a0fe1b62cd3.png)
![

[2019-12-18 12:35] Click2Cloud-Gamma opened #307 "Installation failed while installing Ceph as a backend"
**Describe the bug**
If we install OpenSDS using Ceph as a backend it fails while checkig the status of pool.

Pool is available and Ceph cluster is also healthy

**To Reproduce**
Steps to reproduce the behavior:
1. Install OpenSDS using Ansible Installer and set  Ceph as a backend and assigned `/dev/sdb` for ceph.
2. It fails while checking the status of Pool

**Expected behavior**
It should work

[2019-12-19 05:40] Click2Cloud-Gamma commented on #307
User need to install "jq" utility. Use `apt install jq` before installing opensds. Need to add this in Installer Manual.
Thanks

[2019-12-20 06:02] NajmudheenCT commented on #307
Thanks @Click2Cloud-Gamma . @joseph-v Please add this in document.

[2019-12-20 11:01] himanshuvar opened #308 "Add Support for NetApp ONTAP Backend as the South Bound Driver for OpenSDS Hotpot"
**Is your feature request related to a problem? Please describe.**
This issue is to support for Enabling NetApp ONTAP as a backend for the OpenSDS Hotpot

**Describe the solution you'd like**
Add the Configuration Scenario Tasks for enabling NetApp ONTAP as the backend.

[2019-12-25 03:00] ThisIsClark opened #313 "Incorrect conditions for checking if etcd is running"
**Describe the bug**
If the host already have etcd running on another port for another program, opensds-installer would not run etcd for opensds.
For example, if etcd is running for nbp on port 2379, and I configured the port of OpenSDS etcd to 2479, what I expect is 2 etcd running at the same time, one is on port 2379, one is on port 2479. But in fact, when I deploy OpenSDS by ansible, etcd.yml w

[2019-12-27 09:16] kumarashit opened #317 "[RC3][Daito] Partial uninstall/Clean from ansible"
**Describe the bug**
A clear and concise description of what the bug is.
On uninstall, resources doesn't get cleaned properly
a) Volume Group doesn't get deleted
b) Loop devices associated with files, doesn't get detached.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' Install using Ansible single node cluster
2. Click on '....' Uninstall and then retry install
3. Scroll down to

[2019-12-27 09:30] kumarashit opened #318 "[RC3][Daito] Release version in the installer should be configurable"
**Describe the bug**
A clear and concise description of what the bug is.
Currently the installer files need to be updated for the release version. This leads to dependency on the other code merges and release of dependent projects.
This value should be configurable. Either through the command line or some other convenient mechanism
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2

[2020-01-07 19:14] kumarashit commented on #317
I could reproduce it with Daito v0.10.0 release too

[2020-01-10 11:49] PravinRanjan10 opened #323 "Installer installing wrong version of ansible"
**Describe the bug**
A clear and concise description of what the bug is.

If i select backend as ceph, and the ceph version is stable-3.1, ansible verion should be 2.4.x
But at the end it is always installing ansible 2.5.1 version.(Which should not).
Our script is identifying that, ansible 2.4 should be installed but at end installing 2.5.1 version.

**To Reproduce**
Steps to reproduce the behavio

[2020-01-10 11:51] PravinRanjan10 commented on #323
root@root1-Latitude-E7450:~/opensds-installer/ansible# chmod +x ./install_ansible.sh && ./install_ansible.sh
Reading...: /root/opensds-installer/ansible/group_vars/osdsdock.yml
**Installing ansible 2.4 required for ceph-ansible stable-3.1 branch.**
.
.
.

After this operation, 26.9 MB of additional disk space will be used.
Selecting previously unselected package ansible.
(Reading database ... 2132

[2020-01-10 11:52] PravinRanjan10 commented on #323
oot@root1-Latitude-E7450:~/opensds-installer/ansible# chmod +x ./install_ansible.sh && ./install_ansible.sh
Reading...: /root/opensds-installer/ansible/group_vars/osdsdock.yml
**Installing ansible 2.4 required for ceph-ansible stable-3.1 branch.**
.
.
.

After this operation, 26.9 MB of additional disk space will be used.
Selecting previously unselected package ansible.
(Reading database ... 21324

[2020-01-10 11:53] PravinRanjan10 commented on #323
@joseph-v

[2020-01-12 15:19] thatsdone commented on #323
Hi @PravinRanjan10,

Two questions.

Q1. Do you have NON snipped version terminal log?
install_ansible.sh shows the ppa repository being used like the bottom.

Q2. Which Ubuntu version are you using? Xenial? or Bionic?

install_ansible.sh executes apt commands like below:

[code]

In this case, REQUIRED_ANSIBLE_VER is '2.4', so this is strange.

But, according to the ansible official ppa site info

[2020-01-12 15:41] PravinRanjan10 opened #326 "Not able to install Ceph using ansible"
**Describe the bug**
A clear and concise description of what the bug is.
Tried to install ceph using ansible. At last it fails during sanity check. Please take a look of error below. Interesitng point is health seems to be ok( HEALTH_OK) but other operations failing.

**TASK [osdsdock : ceph cluster sanity check]** ***********************************************************************************

[2020-01-12 15:42] PravinRanjan10 commented on #326
@thatsdone As per discussion, please take a look.

[2020-01-12 15:48] PravinRanjan10 commented on #323
@thatsdone, The detail of machine is below:
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.3 LTS
Release:	18.04
Codename:	bionic

As per discussion, please take a look

[2020-01-13 05:36] thatsdone commented on #323
@PravinRanjan10

Hi, I figured out the root cause and a quick workaround.

This issue comes from the default distro bundled version of ansible. Ubuntu bionic bundles  ansible 2.5 series, and we need to specify exact version when we want to use a downgraded version like below.

[code]

I don't think this is the reason why you got #326 , but anyway I will update 'install_ansible.sh' soon.

Here is a

[2020-01-13 05:53] thatsdone commented on #326
Some notes from our private discussion for records.

1. 'ceph cluster sanity check' task does not only cluster status check (MON) but also OSDs too, in order to ensure the overall ceph cluster health check. But in this case, `ceph -s` says 'HEALTH_OK', but actually the last line of its output means there are no OSDs up and running. So,
2. When I tried to reproduce this issue using Ubuntu 16.04 (no

[2020-01-13 06:28] PravinRanjan10 commented on #326
@thatsdone Sure, let me reproduce this again. I will share you full log. Thanks for quick look into this.

[2020-01-13 06:54] thatsdone commented on #326
@PravinRanjan10

Three points.

(1) While trying to reproduce this issue, I noticed that ceph mimic checks number of active OSDs by following  'osd_pool_default_size' and this could make `ceph -s` result HEALTH_WARN. I think you are using enough number of disks (or consistent 'osd_pool_default_size' value), but anyway please pay attention to this topic.

(2) When you try to reproduce the issue, pl

[2020-01-13 07:02] PravinRanjan10 commented on #326
@thatsdone I agree with your 3rd point, But atleast for testing we need ceph cluster using ansible right?

I will also check other two points while recreating issue.

[2020-01-13 09:21] joseph-v commented on #313
This issue is fixed in PR #314

[2020-01-13 09:21] #313 closed

[2020-01-13 09:22] #298 closed

[2020-01-13 09:35] #294 closed

[2020-01-17 07:10] himanshuvar opened #327 "Support Secure etcd configuration i.e. https configuration for etcd"
**Is this a BUG REPORT or FEATURE REQUEST?:**

/kind feature

**What happened:**

Currently, there is no secure configuration for etcd.

**What you expected to happen:**

Add certification auth and username/password auth support between hotpot and etcd.

[database]
endpoint = localhost:2379,localhost:2380
driver = etcd
enableTLS = True
username = username
password = password
cert-file = /path/cert

[2020-01-20 02:30] sushanthakumar opened #328 "Update Helm deployment support for CSI and controller"
**Describe the bug**
Helm can help for customised deployment for CSI and opensds components. Currently we have support for deployment through helm but not upto date .

So we need to relook into helm chart files and make sure it can work properly

**To Reproduce**
Steps to reproduce the behavior:
Use helm chart to deploy for CSI and opensds

**Expected behavior**
Deployment should be successful and

[2020-01-29 11:07] kumarashit commented on #317
Faced the same issue:
TASK [telemetry-uninstaller : clean all created work directories] ****************************************************
task path: /root/gopath/src/github.com/opensds/opensds-installer/ansible/roles/telemetry-uninstaller/scenarios/clean_telemetry_tools.yml:101
skipping: [localhost] => {
    "changed": false,
    "skip_reason": "Conditional result was False",
    "skipped": tru

[2020-01-30 11:57] kumarashit opened #330 "[QIP][DAITO] Clean uninstall doesn't stop Dashboard container"
**Describe the bug**
If an existing dashboard container is there with different version, cleanup creates new dashboard container (with different image version) but doesn't stop it as other version is already running

**To Reproduce**
Installed OpenSDS from Installer v0.10.0
Removed the dashboard image (though by mistake)
Installed "latest" version (dashboard:latest) manually
Now executed cleanup o

[2020-01-31 11:36] #308 closed

[2020-02-07 06:27] joseph-v opened #335 "[QIP] Ansible installer do not remove dashboard container"
**Describe the bug**
Running ansible-playbook clean.yml do not remove dashboard container

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please com

[2020-02-09 02:46] thatsdone commented on #323
Sorry for my late action. I created a PR for this issue.

[2020-02-09 04:28] thatsdone commented on #326
Hi,
Still I'm not sure the root cause of the original symptom (an ansible template error).
But, at least, I success fully installed Daito (v.0.11.0) as single node with ceph (1 osd)
by specifying 'group_vars/ceph/all.yml' like below.

This is essentially because ceph added minimum osd count check after mimic, and we need to specify
'osd_pool_default_size' in /etc/ceph/ceph.conf. The default is 3,

[2020-02-10 03:25] #335 closed

[2020-03-16 05:56] nguptaopensds opened #341 "Separate telemetry installer from opensds-installer"
**Is your feature request related to a problem? Please describe.**
Sodafoundation will have different projects now and for each project we need separate installer so if user wants to install specific project, he doesn't have to install full opensds.

**Describe the solution you'd like**
Telemetry installer should be separated from Opensds hotpot installer.

[2020-05-12 05:51] kumarashit commented on #341
Not planned as of now. We will re-visit and open new

[2020-05-12 05:51] #341 closed

[2020-05-12 05:57] kumarashit commented on #317
Closing as this is fixed. Verified with Elba release

[2020-05-12 05:57] #317 closed

[2020-05-12 06:46] thatsdone commented on #326
@kumarashit Hi, if my comment above makes sense, I will create a PR (as I mentioned in my comment). What do you think about?

[2020-05-12 10:00] PravinRanjan10 commented on #326
@thatsdone I think you can go ahead and rasie PR if it is resolving the issue. Then we can also take your code and re-test. But we had also tried by setting variable 'ceph_conf_overrides' as value 1 and 3 previously, and it didn't help.

But, Again, i would recommand please raise your PR.

[2020-05-12 17:51] kumarashit opened #345 "CI For Installer"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Add the CI for Installer
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features

[2020-05-12 17:52] kumarashit opened #346 "Test cases updated for installer"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-16 03:46] CruciformHawk7 opened #347 "ansible/install_ansible.sh and few scripts fail"
During the first steps of the Ansible installation method, few errors are thrown by the scripts because of dependencies that are not yet installed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a fresh copy of Ubuntu 16.04.6 desktop x64.
2. Download the .gz, extract, and run entry ansible/install_ansible.sh.
3. Receive Error: unmet dependency, ansible: Depends: sshpass.

**Expected

[2020-05-26 08:50] joseph-v commented on #347
Dependancy of 'gwak' is already captured in installation steps documenation (https://github.com/sodafoundation/api/wiki/SODA-Projects-Cluster-Installation-through-Ansible)

Why we need 'pv' & 'sshpass' ?

[2020-05-28 11:55] #347 closed

[2020-05-28 13:49] CruciformHawk7 commented on #347
@joseph-v Ansible requires both of them. Please take a look at the first screenshot. Thank you!

[2020-06-03 18:04] kumarashit opened #350 "Pre-install check and configure for installation"
**Issue/Feature Description:**
Create a pre-install script which checks for all the required package and their version.

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Make installer robust. pre-install should notify all the required packages and their versions. If possible install the required packages. Make this interactive
**How to reproduce, in case of a bug:**

[2020-06-03 18:32] kumarashit opened #351 "SODA Installer for Ubuntu 18.04"
**Issue/Feature Description:**
Support SODA installation on Ubuntu 18.04
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
New HSCL support.
**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2020-06-03 18:34] kumarashit opened #352 "SODA Installation check with Release Binary"
**Issue/Feature Description:**
Before releasing the binary, it should be properly verified
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Follow the steps given in release notes to validate the installation with release binary. It should be done on a fresh VM with no pre-installed software which SODA requires. It should be a fresh/vanilla setup
**How to reproduce, in

[2020-06-05 09:08] kumarashit opened #353 "Add init script to handle services restart across reboot of the Node"
**Issue/Feature Description:**
Currently if the SODA installed Node is rebooted, services doesn't start automatically. User need to start it manually or run the installer again.

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Running installer again will lead to several issues. This should be handled. If there is an init script added which can run on node restart it

[2020-06-05 13:34] joseph-v commented on #330
This issue is fixed in PR #332

[2020-06-05 13:56] joseph-v commented on #318
This does not seems to be an issue. Ansible supports command line variable passing (using -e or --extra-vars) which override internal keywords/variables. (Eg. $ ansible-playbook --extra-vars release_version=v1.0.0 ... )

[2020-06-15 19:34] kumarashit opened #354 "Local cluster installation script"
**Issue/Feature Description:**
Currently the local cluster installation using non-ansible method/devsds is under api. This should be made available through installer
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Make core projects installation standalone and tightly coupled with one project
**How to reproduce, in case of a bug:**

**Other Notes /  Environment Inform

[2020-06-18 19:13] kumarashit commented on #330
Closing as fixed

[2020-06-18 19:13] #330 closed

[2020-06-20 05:46] #354 closed

[2020-06-22 03:58] #351 closed

[2020-06-22 04:00] kumarashit commented on #323
@PravinRanjan10

[2020-06-22 04:02] kumarashit commented on #261
@PravinRanjan10 Please check this

[2020-06-22 15:54] joseph-v opened #358 "SIM installation fails while installing rabbitmq package"
**Issue/Feature Description:**
SIM installation fails while installing rabbitmq package because it requires unauthorized dependent packages

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2020-06-23 04:55] joseph-v opened #360 "Installer Changes for the project name update to delfin"
**Issue/Feature Description:**
Installer Changes for the project name update to delfin

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2020-06-23 05:24] joseph-v opened #361 "Create new docker hub account for SODA projects and update image names"
**Issue/Feature Description:**
Create new docker hub account for SODA projects and update image names

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2020-06-23 06:08] NajmudheenCT opened #362 "Delfin Installer failed in step copy SIM configs to host"
**Issue/Feature Description:**
Delfin Installer failed in step  copy SIM configs to host
TASK [sim-installer : copy SIM configs to host] *************************************************************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AnsibleFileNotFound: Could not find or access '/opt/sim-

[2020-06-23 12:29] kumarashit opened #365 "Allow Rabbitmq installation for delfin to have authorized"
This is lowering security

_Originally posted by @kumarashit in https://github.com/sodafoundation/installer/pull/359/review_comment/create_

[2020-06-23 12:30] #358 closed

[2020-06-23 13:59] #360 closed

[2020-06-25 03:25] #362 closed

[2020-06-26 05:27] anvithks opened #367 "Need to update Environment variable configuration for Dashboard installation with S3 API endpoint"
**Issue/Feature Description:**
The S3 APIs in multicloud are all accessible on a different port.
Earlier all mulitcloud APIs were accessible on port 8089. Now S3 APIs are on port 8090.
When installing the environment variables have to be set in the file
`https://github.com/sodafoundation/installer/blob/master/ansible/roles/dashboard-installer/scenarios/container.yml`

**Current configuration**
[co

[2020-06-27 02:55] NajmudheenCT opened #369 "Installer fails on step gelato install when redis server already installed"
**Issue/Feature Description:**
Installer fails on step  gelato install when redis server already installed.
this happend on a machine where delfin was installed before.
Since both use same redis port , this is expected to fail either
- install of gelato if SIM is already instlled
- install of SIM if gelato is aleady installed
![Screenshot from 2020-06-24 19-10-03](https://user-images.githubusercon

[2020-06-27 07:18] #367 closed

[2020-06-29 05:32] anvithks opened #371 "Incorrect dashboard realease tag/version in dashboard.yml for v1.0.0"
**Issue/Feature Description:**
In the following line the dashboard is always installed from the latest docker image tag irrespective of the release version specified in the group_vars/common.yml.
https://github.com/sodafoundation/installer/blob/42066419ea14f2dcc93b1e05f6bcfc5daef9bb53/ansible/group_vars/dashboard.yml#L39

This will work as long as latest and the latest release tag are in sync.
thi

[2020-07-08 06:33] joseph-v opened #375 "Ensure Delfin and Orchestration install together"
**Issue/Feature Description:**
Delfin and Orchestration uses rabbitmq, so rabbitmq should be started in different ports

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2020-07-08 06:34] joseph-v opened #376 "Orchestration installer needs to remove depricated project st2-docker"
**Issue/Feature Description:**
Orchestration installer needs to remove depricated project st2-docker

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2020-07-14 08:02] kumarashit commented on #346
Done. For new test cases we will open new task

[2020-07-14 08:02] #346 closed

[2020-07-16 04:13] kumarashit opened #377 "Support SODA projects installation on CentOS 8"
**Issue/Feature Description:**
This is the new qualification for new OS support
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Extend SODA installer to different platforms. CentOS qualification can help for similar OS support too
**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful

[2020-07-22 19:19] UtkarshBhatthere commented on #345
Are we only looking for running the installation procedures and check if there are any issues there ? (I can try setup that in GitHub actions)

[2020-07-30 19:31] kumarashit opened #380 "Install iSCSI packages on CentOS"
**Issue/Feature Description:**
CentOS doesn't have open-iscsi package available. To support it iscsi-target-utils package need to be installed.

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
To support Host provisioning of the storage
**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any

[2020-07-30 19:33] kumarashit opened #381 "Support gelato dependent package installation on CentOS"
**Issue/Feature Description:**
Gelato need rados devel package to be installed. Installing SODA on CentOS should install it a part of Gelato installation
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
To support gelato installation on CentOS
**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link o

[2020-08-04 14:56] Shruthi-1MN opened #382 "Installation of SODA using devsds install script has hard coded paths"
**Issue/Feature Description:**
Install using devsds install script throws error swagger.yaml path doesn't exists because SODA_API_PATH has been hard coded
[code]

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for th

[2020-09-04 11:16] #377 closed

[2020-09-04 11:21] kumarashit opened #384 "Add support of NetApp NAS Backend through Ansible"
**Issue/Feature Description:**
New NEtApp NAS Storage backend support in installer
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
As new Storage Backend for NetApp NAS is added into dock, support the installation and registration of NetApp NAS driver too
**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env informatio

[2020-09-14 17:42] #384 closed

[2020-09-18 07:41] osiveteam opened #386 "Soda installer UI"
**Feature Description:**
 We should definitely implement a web based UI installation rather than bash / ansible cli based

**Why this feature is needed(give scenarios or use cases):**
  Mandatory for any quality and respectable product

[2020-09-22 06:23] anvithks commented on #386
@osiveteam That is a good idea.
Do you have any suggestions on how to go about this?
Since SODA releases are  made of multiple project installations it would definitely help if the user can see a visual representation of what is installed and what is not.
If there are any references to how this can be implemented I would love to work together on this.

[2020-09-22 07:49] rajat-soda opened #388 "SODA Installation with Single Command using default configs."
**Issue/Feature Description:**
SODA Installation to be performed with Single Command using default configs.
eg ; osdsctl install soda

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
At present SODA installation needs manual intervention.
To improve the usability of SODA installation.

**How to reproduce, in case of a bug:**
NA
**Other Notes /  Environment Information

[2020-09-25 07:37] anvithks opened #390 "Installation of SODA fails when delfin is enabled ."
**Issue/Feature Description:**
Installing SODA using the steps as per the instructions [here](https://docs.sodafoundation.io/soda-gettingstarted/installation-using-ansible/)
The configuration is as follows:
Checked out master branch of installer.
`deploy_project: all`
`install_from: repository`
`repo_branch: master`
`enable_delfin: true`

The installation goes all the way to the delfin installatio

[2020-09-27 05:48] joseph-v opened #391 "Installation for Delfin failed"
**Issue/Feature Description:**
This issue is to track
https://github.com/sodafoundation/delfin/issues/340

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2020-09-28 13:06] #391 closed

[2020-09-28 18:31] kumarashit commented on #390
This is fixed

[2020-09-28 18:31] #390 closed

[2020-09-28 18:34] kumarashit commented on #381
**RCA** The gelato installer scripts and Make files are very Ubuntu specific. This need to be fixed.
**Doc** Gelato/multi-cloud on CentOS is not supported

[2020-09-28 18:35] kumarashit commented on #380
**CentOS comes with tgt package by default.

[2020-09-28 18:35] #380 closed

[2020-09-28 20:39] osiveteam commented on #386
Sir,
We can take inspiration from other  installers , like Rancher K8s installer, or Cloudera CDH  , mostly use that approach.

We can, after a preliminary discussion , produce a mock-up ( UI & enabling Components) and share .
Thanks

[2020-09-28 22:41] noelmcloughlin opened #393 "bug(installer): Ansible failures on Ubuntu 18.04"
**Issue/Feature Description:**

I had some ansible errors following the QuickStart Guide:
- https://docs.sodafoundation.io/soda-gettingstarted/quickstart/

I handled one in the documentation:
- https://github.com/sodafoundation/documentation/pull/109

This issue discusses the failed keystone task:

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

Quickstart - running

[2020-09-28 22:46] noelmcloughlin commented on #393
Full log attached:
[soda-quickstart-failures-ubuntu18-full-log.log](https://github.com/sodafoundation/installer/files/5295424/soda-quickstart-failures-ubuntu18-full-log.log)

[2020-09-29 12:23] kumarashit opened #396 "SODA Installer CI incosistency"
**Issue/Feature Description:**
Installer CI fails for 90% time with Timeout. Mostly for Gelato and sometime for other projects.
This need to be fixed. Maybe travis_wait for any command which takes time more than 10min to o/p anything on Stdout
**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Informa

[2020-09-30 10:47] #393 closed

[2020-10-03 02:48] osiveteam commented on #386
minor optimization : perform shallow clone .
**Provide an argument of -- depth 1 to the git clone command to copy only the latest revision of a repo:**

providing a list of files that require change with line number .

.**/ansible/script/keystone.sh**
line number 177:        git clone "${STACK_GIT_BASE}/openstack-dev/devstack.git" -b "${STACK_BRANCH}" "${DEV_STACK_DIR}"

**./devsds/bootstrap.sh**

[2020-10-03 04:27] osiveteam opened #398 "docker installation in "install_dependencies.sh" needs to incorporate changes for ubuntu (20.04 )"
installation package has moved from **docker-ce** to **docker.io**  in latest versions of ubuntu
 &
**doesn't require addition of any repo.**

the script (**_./ansible/install_dependencies.sh_** ) needs to incorporate the same ...

[2020-10-07 18:32] anvithks opened #399 "Cleanup on failed installation not cleaning completely"
**Issue/Feature Description:**
This issue is raised here wrt [issue dashboard/#447](https://github.com/sodafoundation/dashboard/issues/447) which was raised in the Dashboard reo.

**Environment details:**
SODA version:  SODA v1.1.0 Greenland
OS: Ubuntu 18.04,Oracle VM Virtual Box
Storage details : Controller: IDE(VBoxGuestAdditions.iso) : 57.82MB
                          Controller:SATA(Ubuntu 18

[2020-10-16 08:42] anvithks commented on #371
I think this is fixed in the latest release.
Fixed in #373

[2020-10-16 08:43] #371 closed

[2020-10-22 06:08] noelmcloughlin opened #400 "[ArchWG] SODA deployer project is needed (soda upgrade paths)"
**Issue/Feature Description:**

The Arch WG wants Increased focus on UPGRADE.  Do we need a Deployer project instead of an Installer project?

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

End Users who invest in integrating Soda need an upgrade path to the next Soda release (to avoid data loss, cost, etc).  This project is only focused on INSTALL.

**How to reprod

[2020-10-22 08:15] Shruthi-1MN opened #401 "Ansible site.retry script fails to retry SODA installation"
What is the issue?
SODA installation using ansible script whenever fails with some error it suggests us to retry with site.retry script but whenver we try to run with site.rety it throws error as "ERROR! playbooks must be a list of plays".

Below is the example

[code]

[2020-10-22 08:17] Shruthi-1MN opened #402 "SODA ansible script retry script fails"
What is the issue?
SODA installation using ansible script whenever fails with some error it suggests us to retry with site.retry script but whenver we try to run with site.rety it throws error as "ERROR! playbooks must be a list of plays".

Below is the example

[code]

[2020-10-22 08:17] Shruthi-1MN commented on #402
duplicate of 401

[2020-10-22 08:17] #402 closed

[2020-11-03 05:59] rajat-soda opened #403 "Single Command Install for SODA with default configs."
**Issue/Feature Description:**
Simplify SODA installation with Single Command to install SODA with default config params.

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
To simplify SODA installation and improve usability.

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful infor

[2020-11-03 06:00] rajat-soda opened #404 "Extend SODA installer to install Example Use cases"
**Issue/Feature Description:**
SODA installer should be extended to install any specific usecases , using keywords in the installer.

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Allows users to experience SODA usecases by default .

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any

[2020-11-05 07:05] anvithks opened #405 "Installation fails at Delfin installer with error "Could not get output from /usr/local/bin/virtualenv --help: AttributeError: module 'os' has no attribute 'PathLike'\n""
**Issue/Feature Description:**
While installing SODA by following the installation as per this [guide](https://docs.sodafoundation.io/soda-gettingstarted/installation-using-ansible/) the following error was encountered:
[code]
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
User is unable to install SODA.

**How to reproduce, in case of a bug:**
Follow the installatio

[2020-11-06 11:47] noelmcloughlin commented on #405
I will work on getting that REAMDE updated and fixed. Thanks @anvithks

[2020-11-10 04:10] anvithks opened #406 "[Delfin Performance Monitoring] Install Prometheus and Grafana and integrate with Delfin for metric collection and visualisation"
**Issue/Feature Description:**
For performance metric collection and visualisation of the metrics, Delfin provides a Prometheus exporter. To collect the metric from this exporter Prometheus has to be installed and integrated with Delfin.
Prometheus can be installed from [source](https://prometheus.io/docs/prometheus/latest/installation/#from-source) as well a [docker image](https://prometheus.io/d

[2020-11-10 11:51] noelmcloughlin commented on #406
Hello @anvithks
Thanks for this feature request.  I have gathered the following Use Cases from your description. Please let me know if you identify more use cases - for the installer, we need to support the installation of these components OR integration point - install/upgrade SODA Delfin but reuse existing Prometheus/Grafana instances.

**Use Case**s
UC1:  Install Prometheus
UC2:  Install Grafan

[2020-11-10 15:16] anvithks commented on #405
@joseph-v @kumarashit @PravinRanjan10 @NajmudheenCT @noelmcloughlin
I was able to install SODA with Delfin on a Ubuntu 16.04 system with Delfin v1.0.0. I had to make the following changes manually before SODA installation.
[code]

I followed these to arrive at the solution:
[http://ubuntuhandbook.org/index.php/2017/07/install-python-3-6-1-in-ubuntu-16-04-lts](http://ubuntuhandbook.org/index.php/20

[2020-11-10 18:45] noelmcloughlin commented on #405
I followed the Guide (https://docs.sodafoundation.io/soda-gettingstarted/installation-using-ansible) on Ubuntu 18.04, and set HOST_IP and enabled two/three features but had multiple failures.  Someone else should test this.

1. Docker was not running (restart script)
   `systemctl start docker`

2. Redis timeout (restart script)
[code]

3. Port check blocks (stop apache2)
[code]
 `kill $(ps -ef |

[2020-11-15 10:59] noelmcloughlin commented on #406
@anvithks Did you try Option 1 above? Feedback would be good. Gathering inputs for installer redesign.

[2020-11-15 11:17] anvithks commented on #406
@noelmcloughlin sorry but I couldn't explore option 1.
I was able to configure prometheus and grafana and display metrics that are being produced. I installed prometheus and grafana from their respective docker images.
I have been working on installing prometheus and grafana using a docker file. Delfin installer has a docker file (in the delfin repository). I would look into modifying that file an

[2020-11-15 11:19] anvithks commented on #406
@noelmcloughlin I have been tracking the task [here] (https://github.com/sodafoundation/dashboard/issues/471)

[2020-11-15 11:43] noelmcloughlin opened #407 "[Spike] List of CNCF components in SODA available in Ansible Galaxy"
**Issue/Feature Description:**

Most Installer Open Issues (OS, Technology) are already fixed is upstream Saltstack Formulas.   Ansible Galaxy is unknown.

This is a task to make an inventory of:

1. CNCF landscape components used in SODA
2. CNCF installers supplied by Ansible (Galaxy) and Saltstack (Formulas).

Then decide if Ansible Galaxy is mature enough to be integrated into Soda Installer.

[2020-11-15 11:51] noelmcloughlin commented on #407
Saltstack formulas (https://github.com/saltstack-formulas) is very mature for CNCF.
Ansible Galaxy (https://galaxy.ansible.com) is unclear so needs study.

[2020-11-15 11:56] noelmcloughlin commented on #407
List of CNCF installers avaialble from Saltstack formulas community used in SODA:

     - epel-formul
     - salt-formula
     - openssh-formula
     - packages-formula
     - firewalld-formula
     - etcd-formula
     - ceph-formula
     - deepsea-formula
     - docker-formula
     - etcd-formula
     - firewalld-formula
     - helm-formula
     - iscsi-formula
     - lvm-formula
     - packages-

[2020-11-15 12:08] noelmcloughlin commented on #407
List of CNCF installers available from the **salt-formulas community** used in SODA:

N/A

[2020-11-15 12:09] noelmcloughlin commented on #407
List of CNCF installers available from **Ansible Galaxy community** used in SODA:

TBD

[2020-11-15 12:22] noelmcloughlin opened #408 "Requested Features for SODA installer"
**Issue/Feature Description:**

- Extend SODA installer to install Example Use cases [@rajat-soda] [#404]

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2020-11-15 12:22] noelmcloughlin commented on #404
Thanks @rajat-soda Added to https://github.com/sodafoundation/installer/issues/408

[2020-11-15 12:22] #404 closed

[2020-11-15 12:23] noelmcloughlin commented on #403
Thanks @rajat-soda Added to #408

[2020-11-15 12:23] #403 closed

[2020-11-15 12:43] noelmcloughlin commented on #352
Is providing checksums enough?  See also https://github.com/sodafoundation/api/issues/520

[2020-11-15 12:47] noelmcloughlin commented on #350
I think CI/CD should use https://kitchen.ci and each Soda component should validate.  The core purpose of Configuration Management (Ansible/salt) is to automate this type of ticket, i.e. check and/or ensure target is valid.

[2020-11-15 16:00] noelmcloughlin commented on #406
You could also test `ansible-galaxy install cloudalchemy.prometheus && ansible-galaxy install cloudalchemy.grafana`  since I found these and when you install ansible the `ansible-galaxy` command should be installed too (I think).

[2020-11-15 17:12] noelmcloughlin commented on #407
**Architectural Considerations for Installer**

SODA Architecture: https://github.com/sodafoundation/architecture-analysis/blob/master/SODAArchitectureAndProjects.pdf

CORE:
**API:** common unified data/storage interface
**Controller:**  Control services
**Dock:** Connect hetrogeneous storage backends
**NBP:**  Industry Integration Point
**Multi-Cloud:**  Cloiud-Vendor Agnostic interface

NON-CORE

[2020-11-15 19:10] noelmcloughlin commented on #407
https://landscape.cncf.io/category=automation-configuration&format=card-mode&grouping=category

**CNCF PROVISIONING: AUTOMATION AND CONFIGURATION**

**Airship** - loosely coupled but interoperable open source tools that declaratively automate cloud provisioning (Reference Airship manifests, CICD, and reference architecture.)
**Ansible** - Automate everything from code deployment to network configu

[2020-11-24 10:18] himanshuvar opened #409 "Failed (multi-cloud) gelato installation using Ansible scripts when specified installation through repository"
**Issue/Feature Description:** Failed (multi-cloud) gelato installation using Ansible scripts when specified installation through repository

**Why this issue to fixed / feature is needed(give scenarios or use cases):** To provide successful installation through Ansible Scripts.

**How to reproduce, in case of a bug:** Specify installation as repository, Following logs will be observered:

`TASK [

[2020-12-04 11:17] noelmcloughlin commented on #72
This will be resolved by #410

[2020-12-04 11:17] #72 closed

[2020-12-04 11:48] noelmcloughlin commented on #99
Added to salt installer: https://github.com/saltstack-formulas/docker-formula/pull/265

[2020-12-10 20:45] Jimon-s opened #411 "Paranoia check for 'ceph health check status' fails because of mute function (on Ceph 15.x.x Octopus)"
**Issue/Feature Description:**
The result of `ceph health` command (when using mute function) seems to be changed after ceph 15.x.x Octopus when there are warnings, and paranoia check task fails even when 'ceph health' reports "HEALTH_OK".

before (ceph mimic (13.x.x) and nautilus (14.x.x))
[code]
after (ceph octopus (15.x.x))
[code]

Current version of SODA installer (v1.1.0) simply checks if 'ce

[2020-12-10 20:55] Jimon-s opened #412 "[Improvement of Documents] List of Installation patterns and options."
**Issue/Feature Description:**
SODA installer has a lot of useful installation options such as automatic download functions of storage backend modules and pre-set their configs.

It enables us to set up various patterns of storage architecture easily (Thank you!).

However, there is NOT a list of these great options, so it's difficult to use well for SODA beginners.

I think that it's better to ad

[2020-12-10 20:58] Jimon-s commented on #307
I've also detected the issue.

[2020-12-10 22:14] noelmcloughlin commented on #412
Thanks for the issue - very good comments.
I will make sure I review the documents over the next few days and try to improve.
We are also working on a redesign of SODA Installer: https://github.com/sodafoundation/architecture-analysis/pull/89

[2020-12-17 06:44] NajmudheenCT opened #414 "Delfin conf update is required before install"
**Issue/Feature Description:**
Currently Delfin defualt conf is pulled from github and installed. We need to update user provided values to delfin.conf before installation.
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
User should have a mechanism to update
host, port, promethues host and port, kafka host and port, alert manager host and port, enabled exporters etc.

[2020-12-21 03:33] #406 closed

[2020-12-22 06:09] anvithks commented on #405
@joseph-v @NajmudheenCT Did you get  a chance to look into this?
This could be an issue on Ubuntu 16.04.
@kumarashit @skdwriting We will need to check if the Delfin installation with changes made for Kafka and prometheus work on vanilla Ubuntu 16.04.

[2020-12-24 11:54] kumarashit opened #417 "Uninstalll of SODA fails because it cannot find srm-toolchain installation"
**Issue/Feature Description:**
If the SRM toolchain was not installed earlier, the cleanup fails because it cannot find the dir /opt/srm-toolchain

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Cleanup of SODA install fails and is blocked

**How to reproduce, in case of a bug:**
Install SODA without srm-toolchain
Uninstall now. It will fail at:

TASK [cleaner : Stop

[2020-12-24 12:33] anvithks commented on #417
I did a quick check and seems like the uninstall script is running the delete commands even if the srm_toolchain_install is set to false.
I will check and apply the fix.

[2020-12-24 12:37] anvithks commented on #417
I just tested by installing on a fresh virtual box.
Steps I followed:
1. Install only hotpot. No gelato, delfin or SRM toolchain.
2. Run clean script.
The script ran smoothly and uninstalled everything.

I will need some more information on this to identify the scenario in which this fails.

I will try with installing all the other modules and then try uninstall.

[2020-12-24 14:49] anvithks commented on #417
I was able to successfully recreate the issue.
Steps that I followed.
1. Set install_srm_toolchain to true
2. Run the clean script.
The issue is that the clean script task checks only for the install_srm_toolchain variable and if it is set to true then runs the clean commands.

Will add the check on whether the folder exists and then run the subsequent commands.

[2020-12-26 10:10] anvithks commented on #405
@kumarashit @NajmudheenCT @joseph-v @skdwriting
This issue still exists and can be reproduced on a vanilla Ubuntu 16.04 environment.
We need to apply the fix to update python to v3.6 and above as per the delfin prerequisites.

[2020-12-28 07:22] anvithks opened #419 "Dashboard installation fails when opensds_auth_strategy is set to noauth"
**Issue/Feature Description:**
When installing SODA with the `opensds_auth_strategy=noauth` keystone does not get installed.
If SODA dashboard is installed with this then user is unable to login as keystone is required for the dashboard to operate.

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
If the user wants to access only the CLI or API then `opensds_auth_strat

[2020-12-28 13:55] anvithks commented on #405
As per our discussion added instructions to install python3.6 on Ubuntu 16.04 if not installed.
We shall take up all the pre config and  pre install scripts as part of #350 in the I- release

[2020-12-30 12:22] #417 closed

[2020-12-30 12:31] #405 closed

[2020-12-31 03:34] #419 closed

[2021-02-12 07:57] sushanthakumar opened #423 "Rename OpenSDS to SODA"
**Issue/Feature Description:**
As there are a lot of legacy scripts, documentations, there will be some reference to "opensds". need to rename them to SODA

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
As we moved from opensds->soda, the installation scripts, output directories need to use SODA instead of opensds

**How to reproduce, in case of a bug:**

**Other No

[2021-02-18 08:05] Shruthi-1MN opened #424 "Delfin needs python3.6 specific version affecting existing versions"
**Issue/Feature Description:**
Issue

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Delfin needs python3.6 version, it affects existing python versions.

**How to reproduce, in case of a bug:**
Install delfin project using ansible script.

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)*

[2021-02-23 16:27] anvithks commented on #424
@Shruthi-1MN  we have added this as part of the pre-requisites while installing SODA.
You can check the documentation [here](https://docs.sodafoundation.io/soda-gettingstarted/installation-using-ansible/#install-python-3-6-on-ubuntu-16-04)

There is another PR to update the order in which Python is upgraded.
The details can be found here [documentation/#135](https://github.com/sodafoundation/docum

[2021-03-13 11:11] NajmudheenCT opened #426 "Delfin installation : remove scheduler_config.json references"
**Issue/Feature Description:**
according to https://github.com/sodafoundation/delfin/pull/506   scheduler_config.json  file will not be used for perf collection registration.
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
seamless installation of delfin

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env informatio

[2021-03-17 04:43] anvithks opened #429 "Add the environment variable for Delfin Host IP to the dashboard container environment variable list in the dashboard installer."
**Issue/Feature Description:**
Currently as per this list https://github.com/sodafoundation/installer/blob/afcd73b8d7dc97e7671907520baceb83f7ad5209/ansible/roles/dashboard-installer/scenarios/container.yml#L27
[code]
we add the IP address of the HOST as an environment variable for the dashboard container.
If the environment variable is not set the default IP address is set to  127.0.0.1 in the das

[2021-03-17 10:28] anvithks opened #431 "Installer should have one location to configure all IP addresses and Ports and reuse the variables across all modules and services."
The dashboard installer requires some IP and port combinations to prepare the endpoint URLs. Similarly  while installing multicloud and other modules there are URLs for identity service and other endpoints that are common across the SODA Installer.
All such endpoints can be prepared by maintaining all the IP addresses and Ports in a common config location and reuse them across the installer.

_Ori

[2021-03-19 10:07] rajat-soda opened #434 "Fix go naming convention in multi-cloud"
**Issue/Feature Description:**
Fix go  naming convention in multi-cloud
Suggestion: Many service names looks to be reused, can think of moving to common file in future

https://github.com/sodafoundation/multi-cloud/pull/1217
**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give

[2021-03-19 10:12] rajat-soda opened #435 "Resolve MICRO Specific code to be generic"
**Issue/Feature Description:**

Make the code generic as opposed to go-micro dependednt.
Due to  : https://github.com/microhq/kubernetes/issues/19

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2021-03-24 06:31] rajat-soda opened #436 "Get K8s node IP before installation begins."
**Issue/Feature Description:**
Get K8s node IP before installation begins.
   - As installation is a long running process.. the Dashboard does not wait for the install to complete.
   -  When dashboard beings install, the K8s node IPs should be populated  .
  This was not happening and dashboard was not able to connect to the K8s Cluster.

**Why this issue to fixed / feature is needed(give scenari

[2021-03-24 10:34] anvithks opened #439 "Change the performance metric key names in the Grafana Dashboards as per the changes made in Delfin"
**Issue/Feature Description:**
The performance metric key names have been updated in Delfin and the same needs to be changed in the default Grafana dashboards that are setup at the time of SRM toolchain installation.

|Old metric name|unit|New metric name|unit|
|----------------------|-----|-----------------------|-----|
|storage_response_time|ms|storage_responseTime|ms|
|storage_bandwidth	|		MBs|

[2021-03-24 11:20] #429 closed

[2021-03-24 16:42] #436 closed

[2021-03-25 04:40] rajat-soda opened #441 "Use gelato_release_version to deploy multi-cloud-ha pods"
**Issue/Feature Description:**
Use gelato_release_version to deploy multi-cloud-ha pods

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
To use the released version of multi-cloud

**How to reproduce, in case of a bug:**
N/A

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2021-03-25 06:35] #439 closed

[2021-03-25 15:16] rajat-soda opened #443 "consider moving configurations out of ansible installation"
**Issue/Feature Description:**
Please consider moving configurations out of ansible installation. For example, user may not want to use ansible for the deployment.

**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for

[2021-03-26 10:32] #441 closed

[2021-04-07 06:31] AmitRoushan opened #449 "[QIP]: Issues for Quality improvement plan"
**Issue/Feature Description:**
The issue is an umbrella issue for Quality improvement plan :
Following are the identified issue

- [ ] Split ci_check.sh script into multiple jobs (can run parallel)
	- maintain switch for conditional build for different jobs
	  - release
	  - respository
	  - container

- [ ] Reliability of all deployed services
	- Restart over reboot/crash
		- If deployed as proce

[2021-04-07 06:32] AmitRoushan commented on #449
@joseph-v

[2021-04-22 10:16] anvithks opened #452 "Improve reliability of SODA services deployed as processes. Restart services after reboot or crash"
**Issue/Feature Description:**
Currently the SODA API, Controller, dock and etcd services are deployed as processes when installed from `repository` or `release`.
If the system restarts or crashes then the processes do not come up automatically and user has to manually start the processes again.
It would be helpful if the processes are added to systemd with the restart policy set to always. This w

[2021-04-22 10:21] anvithks opened #453 "Improve the reliability of the SODA services that are deployed as containers. Use restart always policy"
**Issue/Feature Description:**
When  the SODA API, Controller, dock, authchecker and etcd services are deployed as containers when installed from `container` the restart policy is not set.
If the system restarts or crashes then the containers do not come up automatically and user has to manually start the containers again.
It would be helpful if the containers have the `restart_policy` set to `alw

[2021-04-22 10:24] anvithks commented on #449
@AmitRoushan I have created individual issues for tracking the following

Issue: #452

Issue: #453

[2021-04-28 09:40] #453 closed

[2021-04-29 06:18] #452 closed

[2021-05-04 10:49] anvithks opened #455 "Migrate the CI for SODA Installer from Travis to GitHub Actions"
**Issue/Feature Description:**
The current CI across SODA Projects is being run using Travis CI. With the changes made to the free tier of Travis CI we are moving the CI for all the projects under SODA Foundation to GitHub Actions.
As part of this we need to move the CI for the installer project to GitHub Actions

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Curren

[2021-05-04 14:21] anvithks opened #456 "Bintray links to RabbitMQ installer key and files are broken in Delfin installer role."
**Issue/Feature Description:**
As part of the Delfin installation, RabbitMQ is installed and the apt key and ppa links were being serviced from the Bintray service.
The Bintray service has now been closed (read more [here](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/)) and all future RabbitMQ links are being served from GitHub or packagecloud.

The offending lin

[2021-05-07 11:03] anvithks commented on #456
This issue still exists as the installation steps need to be updated to add more keys and sources for erlang and rabbitmq-server.

[2021-05-18 03:51] anvithks opened #460 "Enable installation of Delfin and dependencies as containers using the ansible installation"
**Issue/Feature Description:**
Enable the installation of Delfin and dependencies as docker containers when the `install_from` is set to `container` in the recommended ansible installation method.

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Currently when installing SODA, Delfin can be installed only as a process.
Even if the `install_from` variable is set to `co

[2021-05-20 11:25] #456 closed

[2021-05-20 11:26] #455 closed

[2021-06-22 04:02] #460 closed

[2021-06-22 08:51] anvithks opened #463 "Add an installation flag `enable_storage_service_plans` to enable client to know whether the multicloud service supports Custom service plans"
**Issue/Feature Description:**
SODA Multicloud is adding support for custom service plans which will abstract the available backends from the users.
Since this will change how the client will consume the APIs client (SODA Dashboard). The APIs will remain the same but there are some changes in the parameters and how they are populated.
To enable the dashboard to know whether the SODA Multicloud ins

[2021-06-25 06:26] anvithks opened #466 "[SRM Toolchain] Add Grafana dashboards for new metrics added to Delfin storage resources: Storage pool, volumes, controllers, disks, ports and change few metric names of existing metrics"
**Issue/Feature Description:**
Delfin has added performance metrics for storage resources : Pools, Volumes, Controllers, Ports and Disks.
The same needs to be added to the Grafana Dashboard to enable the users to be able to view the metrics.

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Enable users to view and monitor the devices and resources from Grafana and int

[2021-06-25 06:51] #463 closed

[2021-06-26 15:44] #466 closed

[2021-06-26 18:44] rajat-soda opened #469 "HOST_IP of Keystone host not getting added in docker-compose."
**Issue/Feature Description:**
HOST_IP of Keystone host not getting added in docker-compose.
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Needed to generate AKSK using API.

**How to reproduce, in case of a bug:**
Install RC2 release.

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2021-06-28 03:19] #469 closed

[2021-06-29 07:29] skdwriting opened #472 "Installer configuration improvements and project config organization"
**Issue/Feature Description:**
Improve Installer configuration improvements and project config organization

- [ ] Project release versions - organize together. Currently, release_version means installer version.
- [ ] when you install from master (all), there are some inconsistencies like dashboard alone to be given as latest?
- [ ] clean up unwanted fields
- [ ] Can we avoid the last version upd

[2021-07-16 05:58] rajat-soda opened #475 "[UnifiedAPI] Deploy API , Controller as SODA API ."
**Issue/Feature Description:**
Deploy API , Controller as SODA API .
   - This is to enable Single SODA API layer.
   - Make necessary code changes, as applicable.
**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for t

[2021-07-16 06:01] rajat-soda opened #476 "Configuration based deployment"
**Issue/Feature Description:**
 - Enable configuration based deployment for achieving a Solution.
 -
**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2021-07-16 06:02] rajat-soda opened #477 "Create Git Repo for Tier, Config, Catalog , IAM Services."
**Issue/Feature Description:**
Create Git Repo for Tier, Config, Catalog , IAM Services.
  - to develop these services independently
  -
**Why this issue to fixed / feature is needed(give scenarios or use cases):**

**How to reproduce, in case of a bug:**

**Other Notes /  Environment Information: (Please give the env information, log link or any useful information for this issue)**

[2021-10-02 22:32] amitdn2005 opened #482 "SODA installation fails on a Ubuntu 18.04 VM on VirtualBox"
**Issue/Feature Description:**
Attempted SODA installation using "INSTALLATION GUIDE USING ANSIBLE" (https://docs.sodafoundation.io/soda-gettingstarted/installation-using-ansible/)
SODA installation failed while "install keystone with the docker" step.
Error message : ""ERROR: keystone didn't come up. Aborting...""

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
This

[2021-10-02 22:34] amitdn2005 commented on #482
# Workaround
The retry count in "installer/ansible/script/keystone.sh" is 12.
Increased the retry count in "installer/ansible/script/keystone.sh" to 40.

[code]

[2021-12-17 03:37] anvithks opened #483 "Unable to uninstall etcd when deployed as container."
**Issue/Feature Description:**
During the SODA installation if etcd is deployed using the container deployment by enabling `etcd_container_enabled: true` in the `group_vars/osdsdb.yml` file, during uninstallation the etcd container is not shut down and removed.

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
After uninstallation of SODA it is expected that all the mo

[2021-12-31 03:18] anvithks opened #485 "SODA Installation on Ubuntu 20.04 fails."
**Issue/Feature Description:**
When trying to install SODA on Ubuntu 20.04 it fails with errors thrown due to incorrect syntax in ansible scripts and Python2 support being deprecated in Ubuntu20.04

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Ubuntu 20.04 is the latest LTS release of Ubuntu and will become the most common distribution of Ubuntu used in time.
As wa

[2022-03-01 03:10] anvithks commented on #396
The CI has now been migrated to Github Actions. These timeouts still occur but more sparsely. This is more due to the image sizes of Multilcloud being very large.

[2022-03-01 03:21] anvithks commented on #485
The support for Ubuntu 20.04 has been provided using  the [[sodafoundation:ubuntu2004-experimental](https://github.com/sodafoundation/installer/tree/ubuntu2004-experimental)](https://github.com/sodafoundation/installer/tree/ubuntu2004-experimental) as of the Lamu release.
This needs to be merged to the main branch. There are some changes that will affect the current installation process on Ubuntu1

[2022-04-01 13:11] akhilsahuji commented on #423
hey 👋
 I made a similar kind of pull request in multi-cloud so I think they both are similar so I raised a pull request.

[2022-04-23 14:36] UtkarshShah0 opened #493 "Remove Telemetry from Ansible"
**Issue/Feature Description:**
Remove the deprecated Telemetry service installation and uninstallation from the SODA installer

**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Telemetry service was added in the earlier releases of OpenSDS.
This service is since deprecated and we now use Delfin for the monitoring of storage devices.

Telemetry service was installed and

[2022-05-03 03:50] anvithks commented on #493
This is a duplicate of [documentation/118](https://github.com/sodafoundation/documentation/issues/118)
You could raise the PR in this repository and link it to the issue there.

[2022-05-03 05:01] #493 closed

[2022-09-09 07:53] josephjacobmorris opened #497 "Installation is failing on Ubuntu 20.04.2 Following Installation Guide In Official Documentation"
**Issue/Feature Description:**
Installation is failing on Ubuntu 20.04.2 Following Installation Guide In Official Documentation.

- Issue seems to be caused by usage of version-specific syntax of Ansible
**Why this issue to fixed / feature is needed(give scenarios or use cases):**
Ubuntu 20.04 is newer version so support is necessary.

## Issues were noticed in 3 places :
 ### During Installation

[2022-09-23 10:12] rizwi33faizan commented on #497
I will take up this issue.

[2022-09-23 10:13] PravinRanjan10 commented on #497
@rizwi33faizan okay. Add more founded issues related to syntax error of yaml files. And fix it.